<h3>Campaign: {{campaign.name}}</h3>
<p class="lead">{{campaign.text}}</p>

<h3>Characters:</h3>
<div class="docked-menu well">
    <div class="row-fluid">
        <div class="span12">
            <h4>Conditions</h4>
            <div class="row-fluid conditions-box" data-drop="true" ng-model='conditionList' jqyoui-droppable="{multiple:true}">
                <div ng-repeat="(ci, condition) in conditionList" class="condition-box" tooltip-popup-delay='400' tooltip="{{condition.name}}" ng-show="condition.name" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="conditionList" jqyoui-draggable="{index: {{$index}},onStop:'condition_drag({{ci}})'}" ng-click="fetch_from_compendium(condition.wizards_id, 'glossary')">
                    <i class="{{condition|condition_icon}} icon-white"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        <div ng-repeat="(ci, character) in characterList">
            <div class="character-block">
                <div class="row-fluid">
                    <div class="inline power-container">
                        <div class="dropdown-container">
                            <li class="inline dropdown">
                            <a class="dropdown-toggle"><i class="icon-cog icon-white"></i>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a>Short Rest</a>
                                        <a>Extended Rest</a>
                                        <a>Milestone</a>
                                    </li>
                                </ul>
                            </a>
                            </li>
                        </div>
                        <div class="name-container">{{character.name}}</div>
                        <div ng-repeat="power in character.has_powers" ng-click="use_power(power)" class="power-use-button {{power|power_type}} {{power|power_style}}" tooltip-popup-delay='400' tooltip="{{power.name}} - {{power.action}}">{{power.level}}
                        </div>
                    </div>
                </div>
                <div class="row-fluid stats-container">
                    <div class="span2">
                        <table class="stat-table table table-bordered table-condensed">
                            <tr>
                                <td colspan="2" class="big-stat-bar init"><div>{{character.init}}</div></td>
                                <td ng-click="roll_init(character, setInit[character.id])" class="button-cell init"><img src="/static/boilerplate/img/png/dices-white.png" alt=""></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="editable-cell"><input class="stat-edit" maxlength="2" ng-model="setInit[character.id]" type="text" ng-init="setInit[character.id] = 0"></td>
                                <td ng-click="setInit(character, setInit[character.id])" class="button-cell init"><i class="icon-ok  icon-white"></i></td>
                            </tr>
                        </table>
                    </div>
                    <div class="span4">
                        <table class="stat-table table table-bordered table-condensed hp">
                            <tr>
                                <td class="big-stat-bar hp">{{character|total_hp}}</td>
                                <td class="big-stat-bar hp icon" ng-show="bloodied(character)"><i class="icon-tint icon-white"></i></td>
                                <td class="big-stat-bar hp icon" ng-show="!bloodied(character)"><i class="icon-heart icon-white"></i></td>
                                <td ng-click="changeHp(character, -1*changeHp[character.id]); changeHp[character.id] = 0" class="{{}} button-cell hp"><i class="icon-minus icon-white"></i></td>
                                <td ng-click="changeHp(character, changeHp[character.id]); changeHp[character.id] = 0" class="button-cell hp"><i class="icon-plus icon-white"></i></td>
                            </tr>
                            <tr>
                                <td class="editable-cell"><input class="stat-edit" ng-model="changeHp[character.id]" type="text" ng-init="changeHp[character.id] = 0"></td>
                                <td ng-click="changeHp[character.id] = changeHp[character.id]+1" class="button-cell hp">1</td>
                                <td ng-click="changeHp[character.id] = changeHp[character.id]+10" class="button-cell hp">10</td>
                                <td ng-click="changeHp[character.id] = 0" class="button-cell hp"><i class="icon-trash icon-white"></i></td>
                            </tr>
                        </table>
                    </div>
                    <div class="span1">
                        <table class="stat-table table table-bordered table-condensed">
                            <tr>
                                <td class="big-stat-bar ap">{{character|total_ap}}</td>
                            </tr>
                            <tr>
                                <td ng-click="spendAp(character)" class="button-cell ap"><i class="icon-fire icon-white"></i></td>
                            </tr>
                        </table>
                    </div>
                    <div class="span5">
                        <div class="row-fluid has-conditions-box" data-drop="true" ng-model='character.has_conditions' jqyoui-droppable="{multiple:true,onDrop:'condition_drop({{ci}})'}">
                            <div ng-repeat="(hci, has_condition) in character.has_conditions" class="condition-box" ng-click="remove_condition(character, hci)" tooltip-popup-delay='400' tooltip="{{has_condition.name}}">
                                <i class="{{has_condition|condition_icon}} icon-white"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div ng-controller='ModalController' class="wizards-modal" modal="wizardsModal" close="close()">
        <button type="button" class="close" ng-click="close()">×</button>
    <div ng-bind-html="detailTag" id="detail">
    </div>
</div>