<h3>Campaign: {{campaign.name}}</h3>
<p class="lead">{{campaign.text}}</p>

<h3>Characters:</h3>
<div ng-controller="MenuController" class="docked-menu well hidden-phone">
    <div class="row-fluid">
        <div class="span12">
            <h4>Conditions</h4>
            <div class="row-fluid conditions-box" data-drop="true" ng-model="conditionList">
                <div ng-repeat="(ci, condition) in conditionList" class="condition-box" tooltip-popup-delay='400' tooltip="{{condition.name}}" ng-show="condition.name" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="conditionList" jqyoui-draggable="{index: {{$index}}}" ng-click="fetch_from_compendium(condition.wizards_id, 'glossary')">
                    <i class="{{condition|condition_icon}} icon-white"></i>
                </div>
            </div>
            <h4>Dices</h4>
            <h4>Turn Manager</h4>
            <h4>Campaign Manager</h4>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <div ng-controller="CharacterController" ng-repeat="(ci, character) in characterList" class="row-fluid character-block">
            <div class="row-fluid">
                <div class="span2">
                    <div class="row-fluid name-container">
                        {{character.name}}
                    </div>
                </div>
                <div class="span9">
                    <div ng-controller="HasConditionListController" class="row-fluid has-conditions-box" data-drop="true" ng-model='conditionList' jqyoui-droppable="{multiple:true,onDrop:'condition_drop({{ci}})'}">
                        <div ng-repeat="(hci, hasCondition) in conditionList" class="condition-box" ng-click="remove_condition(hci)" tooltip-popup-delay='400' tooltip="{{hasCondition.condition.name}}">
                            <i class="{{hasCondition.condition|condition_icon}} icon-white"></i>
                        </div>
                    </div>
                </div>
                <div class="span1">
                    <div class="button-cell"><i class="icon-cog icon-white"></i></div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="row-fluid">
                                <div class="span10">
                                    <div class="stat-number hp">
                                        <p>{{character|total_hp}}</p>
                                    </div>
                                </div>
                                <div class="span2">
                                    &nbsp;<i ng-show="bloodied(character)" class="icon-tint"></i>
                                </div>
                            </div>
                        </div>
                        <div class="span3">
                            <div class="stat-number init">
                                <p>{{character.init}}</p>
                            </div>
                        </div>
                        
                        <div class="span3">
                            <div class="stat-number hs">
                                <p>{{character|total_hs}}</p>
                            </div>
                        </div>
                        <div class="span2">
                            <div class="stat-number ap">
                                <p>{{character|total_ap}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div ng-show="powerCatalogReady" class="power-container">
                        <div ng-controller="HasPowerController" ng-repeat="hasPower in character.has_powers" ng-click="use_power()" class="power-use-button {{power|power_type}} {{hasPower|power_style}}" tooltip-popup-delay='400' tooltip="{{power.name}} - {{power.action}}">
                            {{power.level}}
                        </div>
                    </div>
                    <div ng-show="!powerCatalogReady" id="floatingCirclesG">
                        <div class="f_circleG" id="frotateG_01">
                        </div>
                        <div class="f_circleG" id="frotateG_02">
                        </div>
                        <div class="f_circleG" id="frotateG_03">
                        </div>
                        <div class="f_circleG" id="frotateG_04">
                        </div>
                        <div class="f_circleG" id="frotateG_05">
                        </div>
                        <div class="f_circleG" id="frotateG_06">
                        </div>
                        <div class="f_circleG" id="frotateG_07">
                        </div>
                        <div class="f_circleG" id="frotateG_08">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div ng-controller='ModalController' class="wizards-modal" modal="wizardsModal" close="close()">
        <button type="button" class="close" ng-click="close()">×</button>
    <div ng-bind-html="detailTag" id="detail">
    </div>
</div>