<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">
            <div class="row">
                <div class="span8">
                    {{character.name}}
                    <h5>Character Name</h5>
                </div>
                <div class="span4">
                    {{character.init}}
                    <h5>Initiative</h5>
                </div>
            </div>
        </div>
        <div class="span3">
            
        </div>
    </div>
</div>
