<div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="#">Mendigames</a>
      <ul class="nav">
        <li><a href="#/campaign_list">Campaigns</a></li>
        <li><a href="#/character_list">Characters</a></li>
        <li><a href="#/power_list">Powers</a></li>
        <li><a href="#/item_list">Items</a></li>
      </ul>
    </div>
</div>
<h1>Campaigns:</h1>
<ul>
    <li ng-repeat="campaign in campaign_list">
        <a href="#/campaign/{{campaign.id}}/combat/">{{campaign.name}}</a>
    </li>
</ul>
