<div class="cage">
    <div ng-include src="'/static/mendigames/partials/navbar.html'"></div>
    <div ng-controller="MenuController">
        <div class="xpan10">
            <div class="gui-box-header"><h3>Dice Roller</h3></div>
            <div class="gui-box-body">
                <div class="gui-row">
                    <div class="gui-group">
                        <div class="gui-label">Multiplier</div>
                        <select class="size-micro" ng-model="selectedMultiplier" ng-options="multiplier for multiplier in multipliers"></select>
                    </div><div class="gui-group">
                        <div class="gui-label">Modifier</div>
                        <select class="size-micro" ng-model="selectedModifier" ng-options="modifier for modifier in modifiers"></select>
                    </div><div class="gui-group">
                        <div class="inline">
                            <div ng-repeat="dice in dices" class="button dice" ng-click="roll(dice)">{{dice}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="xpan10">
            <div class="gui-box-header"><h3>Combat Manager</h3></div>
            <div class="gui-box-body">
                <div class="gui-row">
                    <div class="gui-group">
                        <div class="gui-label size-zero">{{characterList[campaign.turn].name|trunc:12}}
                        </div><div title="Next" class="button" ng-click="next_turn()"><i class="icon-arrow-down icon-white"></i>
                        </div><div title="Previous" class="button" ng-click="previous_turn()"><i class="icon-arrow-up icon-white"></i>
                        </div><div title="Reorder" class="button" ng-click="reorder()"><i class="icon-list icon-white"></i></div>
                    </div><div class="gui-group">
                        <div class="gui-label">Round <b>{{campaign.round}}</b>
                        </div><div title="Previous" class="button" ng-click="previous_round()"><i class="icon-arrow-left icon-white"></i>
                        </div><div title="Next" class="button" ng-click="next_round()"><i class="icon-arrow-right icon-white"></i>
                        </div><div title="Reset" class="button" ng-click="set_round(0)"><i class="icon-ban-circle icon-white"></i>
                        </div>
                    </div><div class="gui-group">
                        <div class="gui-label">Enemy
                        </div><div title="Clear Enemies" class="button" ng-click="clear_enemies()"><i class="icon-minus icon-white"></i>
                        </div><div title="Add Enemies" class="button" ng-click="add_enemy()"><i class="icon-plus icon-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="xpan10">
            <div class="gui-box-header"><h3>Mass Control</h3></div>
            <div class="gui-box-body">
                <div class="gui-row">
                    <div class="gui-group">
                        <div class="gui-label">After Combat
                        </div><div title="Clear Conditions" class="button" ng-click="mass_clear_conditions()"><i class="icon-trash icon-white"></i>
                        </div><div title="Award Milestones" class="button" ng-click="mass_milestone()"><i class="icon-flag icon-white"></i>
                        </div>
                    </div><div class="gui-group">
                        <div class="gui-label">Rest
                        </div><div title="Short Rest All" class="button" ng-click="mass_short_rest()"><i class="icon-road icon-white"></i>
                        </div><div title="Extended Rest All" class="button" ng-click="mass_extended_rest()"><i class="icon-home icon-white"></i>
                        </div>
                    </div><div class="gui-group">
                        <div class="gui-label">Heal
                        </div><div title="Full Heal All" class="button" ng-click="mass_heal()"><i class="icon-heart icon-white"></i>
                        </div>
                    </div><div class="gui-group">
                        <div class="gui-label">XP
                        </div><div title="Give XP to All" class="button" ng-click="mass_give_xp()"><i class="icon-plus icon-white"></i>
                        </div><div title="Split XP among All" class="button" ng-click="split_xp()"><i class="icon-fullscreen icon-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="xpan10">
            <div class="gui-box-header"><h3>Conditions</h3></div>
            <div class="gui-box-body">
                <div class="gui-row">
                    <div class="gui-group" btf-dragon="(ci, condition) in conditionList" btf-double-dragon btf-dragon-accepts="ret_false">
                        <div class="condition-box" tooltip-popup-delay='400' tooltip="{{condition.name}}" ng-click="compendium('glossary', 'condition', condition)">
                            <i class="{{condition|condition_icon}} icon-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="characters-container" ng-switch="character_container_display()">
        <table ng-switch-when="list" class="gui-table character-list">
            <tr>
                <th>Init</th>
                <th>Name</th>
                <th title="Hit Points">HP</th>
                <th title="Healing Surges">HS</th>
                <th title="Action Points">AP</th>
                <th>Defenses</th>
                <th>Senses</th>
                <th>Conditions</th>
            </tr>
            <tr class="{{c.type}} {{has_turn()}}" ng-controller="CharacterController" ng-repeat="(ci, c) in characterList"> 
                <td>
                    <div class="incell-button" ng-click="init_dialog()">{{c.init}}</div>.<div class="incell-button" ng-click="increase_sub_init(c)">{{c.sub_init}}</div>
                </td>
                <td ng-show="c.type != 'Enemy'">
                    <i ng-click="open_detail(c)" class="icon-user" tooltip="Open Sheet"></i>&nbsp;{{c.name|trunc:10}}</td>
                <td ng-show="c.type == 'Enemy'">
                    <i ng-click="delete_character(ci, c)" class="icon-ban-circle" tooltip="Remove Enemy"></i>&nbsp;{{c.name|trunc:10}}</td>
                <td class="button-cell" ng-click="hp_dialog()">
                    <div class="inline" ng-show="c.type != 'Enemy'">{{c|total_hp}}
                    </div><div class="inline" ng-show="c.type == 'Enemy' && !Och.incapacitated(c)">-{{c.used_hit_points}}
                    </div><div class="inline" ng-show="c.type == 'Enemy' && Och.incapacitated(c)">XX
                    </div><i ng-show="Och.bloodied(c)" class="icon-tint inline">
                    </i>
                </td>
                <td class="button-cell" ng-click="spend_hs(c)">
                    {{c|total_hs}}
                </td>
                <td class="button-cell" ng-click="spend_ap(c)">
                    {{c|total_ap}}
                </td>
                <td class="text-center">
                    {{c.ac}}/{{c.fort}}/{{c.refl}}/{{c.will}}
                </td>
                <td class="text-center">
                    {{c.insight}}/{{c.perception}}
                </td>
                <td btf-dragon="(hci, hco) in c._2m.has_conditions()" btf-dragon-drop-function="drop_condition">
                    <div class="condition-box" ng-click="remove_condition(hci)" tooltip-popup-delay='400' tooltip="{{hco._2o.condition().name}} I:{{hco.started_init}} R:{{hco.started_round}} ">
                        <i class="{{hco._2o.condition()|condition_icon}} icon-white"></i>
                    </div>
                </td>
            </tr>
        </table>
        <div ng-switch-when="detail">
            <div class="button" ng-click="open_list()"><i class="icon-arrow-left icon-white"></i>Character List</div>
            <div class="character-detail" ng-controller="CharacterDetailCtrl">
                <div class="gui-row">
                    <div class="gui-row-title">{{c.name}} <i class="icon-pencil" tooltip="Edit Character" ng-click="edit_character()"></i><div class="dropdown">
                            <a class="dropdown-toggle">
                                <div class="name-container">
                                    <i class="icon-th-list" tooltip="Menu"></i>
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-show="c.type == 'Player'">
                                  <a ng-click="short_rest(c)">Short Rest</a>
                                </li>
                                <li ng-show="c.type == 'Player'">
                                  <a ng-click="extended_rest(c)">Extended Rest</a>
                                </li>
                                <li ng-show="c.type == 'Player'">
                                  <a ng-click="milestone(c)">Milestone</a>
                                </li>
                                <li ng-show="c.type == 'Enemy'">
                                  <a ng-click="delete_character(ci, c)">Remove</a>
                                </li>
                                <li>
                                  <a ng-click="clear_conditions(c)">Clear Conditions</a>
                                </li>
                            </ul>
                        </div></div>
                </div>
                <div class="gui-row">
                    <div class="gui-group">
                        <div class="gui-label">Max Hit Points</div>
                        <div class="gui-value">{{c.hit_points}}</div>
                    </div>
                    <div class="gui-group">
                        <div class="gui-label">Max Healing Surges</div>
                        <div class="gui-value">{{c.healing_surges}}</div>
                    </div>
                    <div class="gui-group">
                        <div class="gui-label">Experience</div>
                        <div class="gui-value">{{c.experience_points}}</div>
                    </div>
                </div>
                <div class="gui-row">
                    <div class="gui-row-title">Defenses</div>
                </div>
                <div class="gui-row">
                    <div class="gui-group">
                        <div class="gui-label">Armor Class</div>
                        <div class="gui-value">{{c.ac}}</div>
                    </div>
                    <div class="gui-group">
                        <div class="gui-label">Fortitude</div>
                        <div class="gui-value">{{c.fort}}</div>
                    </div>
                    <div class="gui-group">
                        <div class="gui-label">Reflexes</div>
                        <div class="gui-value">{{c.refl}}</div>
                    </div>
                    <div class="gui-group">
                        <div class="gui-label">Will</div>
                        <div class="gui-value">{{c.will}}</div>
                    </div>
                </div>
                <div class="gui-row">
                    <div class="gui-row-title">Senses</div>
                </div>
                <div class="gui-row">
                    <div class="gui-group">
                        <div class="gui-label">Insight</div>
                        <div class="gui-value">{{c.insight}}</div>
                    </div>
                    <div class="gui-group">
                        <div class="gui-label">Perception</div>
                        <div class="gui-value">{{c.perception}}</div>
                    </div>
                </div>
                <div class="gui-row">
                    <div class="gui-row-title">Powers</div>
                </div>
                <div class="power-container"><!--
                --><div class="power-widget" ng-repeat="hasPower in c._2m.has_powers()" ng-show="hasPower._2o.power().usage == 'W'"><!--
                    --><div class="power-button power-info {{hasPower._2o.power()|power_type}} {{hasPower|power_style}}" ng-click="compendium('power','power',hasPower._2o.power())"><!--
                        --><i class="icon-info-sign icon-white"></i><!--
                    --></div><!--
                    --><div class="power-button power-name {{hasPower._2o.power()|power_type}} {{hasPower|power_style}}" ng-click="use_power(hasPower)"><!--
                        -->{{hasPower._2o.power().level}}&nbsp;{{hasPower._2o.power().name|trunc:12}}</div><!--
                --></div><!--
            --></div>
                <div class="power-container"><!--
                --><div class="power-widget" ng-repeat="hasPower in c._2m.has_powers()" ng-show="hasPower._2o.power().usage == 'E'"><!--
                    --><div class="power-button power-info {{hasPower._2o.power()|power_type}} {{hasPower|power_style}}" ng-click="compendium('power','power',hasPower._2o.power())"><!--
                        --><i class="icon-info-sign icon-white"></i><!--
                    --></div><!--
                    --><div class="power-button power-name {{hasPower._2o.power()|power_type}} {{hasPower|power_style}}" ng-click="use_power(hasPower)"><!--
                        -->{{hasPower._2o.power().level}}&nbsp;{{hasPower._2o.power().name|trunc:12}}</div><!--
                --></div><!--
            --></div>
                <div class="power-container"><!--
                --><div class="power-widget" ng-repeat="hasPower in c._2m.has_powers()" ng-show="hasPower._2o.power().usage == 'D'"><!--
                    --><div class="power-button power-info {{hasPower._2o.power()|power_type}} {{hasPower|power_style}}" ng-click="compendium('power','power',hasPower._2o.power())"><!--
                        --><i class="icon-info-sign icon-white"></i><!--
                    --></div><!--
                    --><div class="power-button power-name {{hasPower._2o.power()|power_type}} {{hasPower|power_style}}" ng-click="use_power(hasPower)"><!--
                        -->{{hasPower._2o.power().level}}&nbsp;{{hasPower._2o.power().name|trunc:12}}</div><!--
                --></div><!--
            --></div>
            </div>
        </div>
    </div>
    <div id="console">
        <div ng-repeat="line in log">{{line}}</div>
    </div>
</div>
<!-- Modal -->
<div class="" modal="wizardsModal" close="wizardsModal = false;">
    <div ng-bind-html="modalInstance.html_description" id="detail">
    </div>
</div>