<div class="container-fluid">
    <div ng-include src="'/static/mendigames/partials/navbar.html'"></div>
    <div class="" ng-controller="MenuController">
        <div class="gui-row">
           <div class="gui-row-title">Dices</div> 
        </div>
        <div class="gui-row">
            <div class="gui-group">
                <div class="gui-textlabel">Multiplier:</div>
                <select class="input-micro" ng-model="multiplier" ng-options="multiplier for multiplier in multipliers"></select>
                <div class="gui-textlabel">Modifier:</div>
                <select class="input-micro" ng-model="modifier" ng-options="modifier for modifier in modifiers"></select>
                &nbsp;&nbsp;
                <div class="inline">
                    <div ng-repeat="dice in dices" class="button dice" ng-click="roll(dice)"><b>{{dice}}</b></div>
                </div>
            </div>
        </div>
        <div class="gui-row">
           <div class="gui-row-title">Combat</div> 
        </div>
        <div class="gui-row">
            <div class="gui-group">
                <div class="gui-text">{{characterList[campaign.turn].name}}</div>
                <div title="Next" class="button icon" ng-click="next_turn()"><i class="icon-arrow-down icon-white"></i></div>
                <div title="Previous" class="button icon" ng-click="previous_turn()"><i class="icon-arrow-up icon-white"></i></div>
                <div title="Reorder" class="button icon" ng-click="reorder()"><i class="icon-list icon-white"></i></div>
            </div>
            <div class="gui-group">
                <div class="gui-text">Enemy</div>
                <div title="Clear Enemies" class="button icon" ng-click="clear_enemies()"><i class="icon-minus icon-white"></i></div>
                <div title="Add Enemies" class="button icon" ng-click="add_enemy()"><i class="icon-plus icon-white"></i></div>
            </div>
            <div class="gui-group">
                <div class="gui-text">Finish</div>
                <div title="Clear Conditions" class="button icon" ng-click="mass_clear_conditions()"><i class="icon-trash icon-white"></i></div>
                <div title="Award Milestones" class="button icon" ng-click="mass_milestone()"><i class="icon-flag icon-white"></i></div>
            </div>
        </div>
        <div class="gui-row">
            <div class="gui-group">
                <div class="gui-text">Round: {{campaign.round}}</div>
                <div title="Previous" class="button icon" ng-click="previous_round()"><i class="icon-arrow-left icon-white"></i></div>
                <div title="Next" class="button icon" ng-click="next_round()"><i class="icon-arrow-right icon-white"></i></div>
                <div title="Reset" class="button icon" ng-click="set_round(0)"><i class="icon-ban-circle icon-white"></i></div>
            </div>
            <div class="gui-group">
                <div class="gui-text">XP</div>
                <div title="Give XP to All" class="button icon" ng-click="mass_give_xp()"><i class="icon-plus icon-white"></i></div>
                <div title="Split XP among All" class="button icon" ng-click="split_xp()"><i class="icon-fullscreen icon-white"></i></div>
            </div>
            <div class="gui-group">
                <div class="gui-text">Rest</div>
                <div title="Short Rest All" class="button icon" ng-click="mass_short_rest()"><i class="icon-road icon-white"></i></div>
                <div title="Extended Rest All" class="button icon" ng-click="mass_extended_rest()"><i class="icon-home icon-white"></i></div>
            </div>
        </div>
        <div class="gui-row">
           <div class="gui-row-title">Conditions</div> 
        </div>
        <div class="gui-row" btf-dragon="(ci, condition) in conditionList" btf-double-dragon btf-dragon-accepts="ret_false">
            <div class="condition-box" tooltip-popup-delay='400' tooltip="{{condition.name}}" ng-click="compendium(condition)">
                <i class="{{condition|condition_icon}} icon-white"></i>
            </div>
        </div>
        <!-- Modal -->
        <div class="" modal="wizardsModal" close="wizardsModal = false;">
            <div ng-bind-html="modalCondition.html_description" id="detail">
            </div>
        </div>
    </div>
    <div class="characters-container" ng-switch="character_container_display()">
        <table ng-switch-when="list" class="character-list">
            <tr>
                <th>Init</th>
                <th>Name</th>
                <th title="Hit Points">HP</th>
                <th title="Healing Surges">HS</th>
                <th title="Action Points">AP</th>
                <th title="Experience">XP</th>
                <th>Defenses</th>
                <th>Senses</th>
                <th>Conditions</th>
            </tr>
            <tr ng-controller="CharacterController" ng-repeat="(ci, c) in characterList"> 
                <td class="board-cell init">
                    <div class="incell init">{{c.init}}</div>.<div class="incell subinit">{{c.sub_init}}</div>
                </td>
                <td class="button-cell name" ng-click="open_detail(c)">{{c.name}}</td>
                <td class="button-cell hp">
                    <div ng-show="c.type != 'Enemy'">{{c|total_hp}}</div>
                    <div ng-show="c.type == 'Enemy' && !Oc.incapacitated(c)">{{c.used_hit_points}}</div>
                    <div ng-show="c.type == 'Enemy' && Oc.incapacitated(c)">XX</div>
                </td>
                <td class="button-cell hs">
                    {{c|total_hs}}
                </td>
                <td class="button-cell ap">
                    {{c|total_ap}}
                </td>
                <td class="button-cell xp">
                    {{c.experience_points}}
                </td>
                <td class="text-center">
                    {{c.ac}}/{{c.fort}}/{{c.refl}}/{{c.will}}
                </td>
                <td class="text-center">
                    {{c.insight}}/{{c.perception}}
                </td>
                <td btf-dragon="(hci, hco) in c._2m.has_conditions()" btf-dragon-drop-function="drop_condition">
                    <div class="condition-box" ng-click="remove_condition(hci)" tooltip-popup-delay='400' tooltip="{{hco._2o.condition().name}} I:{{hco.started_init}} R:{{hco.started_round}} ">
                        <i class="{{hco._2o.condition()|condition_icon}} icon-white"></i>
                    </div>
                </td>
            </tr>
        </table>
        <div ng-switch-when="detail">
            <div class="button" ng-click="open_list()"><i class="icon-arrow-left icon-white"></i>Character List</div>
            <div class="character-detail" ng-controller="CharacterDetailCtrl">
                <div class="gui-row">
                    {{c.name}}
                </div>
                <div class="gui-row">
                    <div class="gui-group">
                        <div class="gui-text-label">Max Hit Points</div>
                        <div class="gui-stat">{{c.hit_points}}</div>
                    </div>
                    <div class="gui-group">
                        <div class="gui-text-label">Max Healing Surges</div>
                        <div class="gui-stat">{{c.healing_surges}}</div>
                    </div>
                    <div class="gui-group">
                        <div class="gui-text-label">Experience Points</div>
                        <div class="gui-stat">{{c.hit_points}}</div>
                    </div>
                </div>
                <div class="gui-row">Defenses</div>
                <div class="gui-row">
                    <div class="gui-group">
                        <div class="gui-text-label">Armor Class</div>
                        <div class="gui-stat">{{c.ac}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>