<div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="#">{{campaign.name}}</a>
      <ul class="nav">
        <li>
            <a href="#/campaign/combat/{{campaign.id}}/">Combat</a>
        </li>
        <li class="active">
            <a href="#/campaign/inventory/{{campaign.id}}/">Inventory</a>
        </li>
        <li>
            <a href="#">Status</a>
        </li>
      </ul>
      <a class="pull-right" href="#">Mendigames</a>
    </div>
  </div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4 inventory-section">
            <div class="inventory-config">
                AAA
            </div>
            <div class="inventory-list">
                AAAA
            </div>
        </div>
        <div class="span4 inventory-section">
            <form class="form-inline">
                <label class="checkbox">Buy Price: <select class="input-small" ng-model="buy_adjustment" ng-options="price.text for price in prices"></select></label>
                <label class="checkbox">Sell Price: <select class="input-small" ng-model="sell_adjustment" ng-options="price.text for price in prices"></select></label>
            </form>
            <tabset vertical="false" type="'tabs'" >
                <tab class="pointer" ng-repeat="co in containerList" heading="{{co.name}}" active="co.active">
                    <div ng-controller="CharacterInventoryCtrl">
                        <button ng-click="change_gold(0)" class="btn">Gold:{{co.gold}}</button>
                        <div class="row-fluid inventory-table-header">
                            <div class="span4 inventory-cell" ng-click="set_predicate('name')">Name</div>
                            <div class="span3 inventory-cell" ng-click="set_predicate('category')">Template</div>
                            <div class="span1 inventory-cell" ng-click="set_predicate('level')">L</div>
                            <div class="span1 inventory-cell" ng-click="set_predicate('rarity')">R</div>
                            <div class="span1 inventory-cell" ng-click="set_predicate('weight')">W</div>
                            <div class="span2 inventory-cell" ng-click="set_predicate('cost')">G</div>
                        </div>
                        <div class="inventory-table-body" btf-dragon="item in co._items" btf-dragon-drop-function="item_drop">
                            <div class="row-fluid inventory-row">
                                <div class="span4 inventory-cell" ng-click="fetch_from_compendium(hi._item)">{{item.name}}</div>
                                <div class="span3 inventory-cell" ng-click="fetch_from_compendium(hi._item)">{{item._item_template.name}}</div>
                                <div class="span1 inventory-cell">{item.level}}</div>
                                <div class="span1 inventory-cell">{{item._item_decorator.rarity}}</div>
                                <div class="span1 inventory-cell">{{item.weight}}</div>
                                <div class="span2 inventory-cell last-cell">{{item.cost}}</div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="span4 inventory-section" ng-controller="ItemFinderCtrl">
            <div class="inventory-config">
                <form class="form-inline">
                    <input type="text" class="input-medium" ng-model="itemName" placeholder="Item name">
                    <select class="input-small" ng-model="rarity" ng-options="rar.name for rar in rarityList"><option value="">-Rarity-</option></select>
                    <select class="input-small" ng-model="category" ng-options="cat.name for cat in categoryList"><option value="">-Category-</option></select>
                    <label class="checkbox">Level: <input type="text" ng-model="levelStart" class="input-nano"></label><label>to<input type="text" ng-model="levelStop" class="input-nano"></label>
                    <label class="checkbox">Cost: <input type="text" ng-model="costStart" class="input-nano"></label><label>to<input type="text" ng-model="costStop" class="input-nano"></label>
                    <button ng-click="item_finder_search(1)" class="btn">Search</button>
                </form>
                <pagination num-pages="pageCount" current-page="currentPage" max-size="5" class="pagination-small" boundary-links="true" on-select-page="goto_page(page)"></pagination>
            </div>
            <div class="row-fluid inventory-table-header">
                <div class="span4 inventory-cell" ng-click="set_predicate('name')">Name</div>
                <div class="span3 inventory-cell" ng-click="set_predicate('category')">Type</div>
                <div class="span1 inventory-cell" ng-click="set_predicate('level')">L</div>
                <div class="span1 inventory-cell" ng-click="set_predicate('rarity')">R</div>
                <div class="span1 inventory-cell" ng-click="set_predicate('weight')">W</div>
                <div class="span2 inventory-cell" ng-click="set_predicate('cost')">G</div>
            </div>
            <div class="inventory-table-body" btf-dragon="itemDecorator in itemFinder.results | orderBy:predicate:predicate_reverse | filter:itemFinder_filter" btf-double-dragon btf-dragon-drop-function="item_drop">
                <div class="row-fluid inventory-row">
                    <div class="span4 inventory-cell" ng-click="fetch_from_compendium(item)">{{itemDecorator.name}}</div>
                    <div class="span3 inventory-cell">{{get_category(itemDecorator).name}}</div>
                    <div class="span1 inventory-cell">{{itemDecorator.level}}</div>
                    <div class="span1 inventory-cell">{{itemDecorator.rarity}}</div>
                    <div class="span1 inventory-cell">{{itemDecorator.weight}}</div>
                    <div class="span2 inventory-cell last-cell">{{itemDecorator.cost}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div ng-controller='ModalController' class="wizards-modal" modal="wizardsModal" close="close()">
        <button type="button" class="close" ng-click="close()">×</button>
    <div ng-bind-html="detailTag" id="detail">
    </div>
</div>

