<div class="cage">
    <div ng-include src="'/static/mendigames/partials/navbar.html'"></div>
    <div class="xpan5">
        <div>
            <div class="gui-box-header">
                <div class="dropdown inline">
                    <a class="dropdown-toggle">
                        <i class="icon-th-list inline" tooltip="Player Menu"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                          <a ng-click="split_gold()"><i class="icon-fullscreen"></i>Split Gold among Everyone</a>
                        </li>
                        <li>
                          <a ng-click="mass_give_gold()"><i class="icon-plus"></i>Give Gold to Everyone</a>
                        </li>
                    </ul>
                </div>
                <h3 class="inline">Players</h3>
            </div>
            <div class="gui-box-body">
                <div class="gui-row">
                    <div class="gui-row-header">Prices</div>
                    <div class="gui-group">
                        <div class="gui-label">Buy</div>
                        <select class="size-mili" ng-model="buy_adjustment" ng-options="price.text for price in prices"></select>
                    </div><div class="gui-group">
                        <div class="gui-label">Sell</div>
                        <select class="size-mili" ng-model="sell_adjustment" ng-options="price.text for price in prices"></select>
                    </div>
                </div>
                <div class="container-section" btf-dragon-drop-function="item_drop" ng-controller="InventoryCtrl">
                    <div class="container-section-header">
                        <div class="pull-left cursor-pointer"><i class="icon-arrow-left icon-white"></i></div>
                        {{plCont._2o.character().name|trunc:12}}&nbsp;
                        <div class="dropdown inline">
                            <a class="dropdown-toggle">
                                <i class="icon-share-alt icon-white" tooltip="Choose Player"></i>&nbsp;
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="cont in plContList">
                                  <a ng-click="change_player_container(cont)">{{cont._2o.character().name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="pull-right cursor-pointer"><i class="icon-arrow-right icon-white"></i></div>
                    </div>
                    <div class="gui-group">
                        <div class="gui-label size-zero">Gold: {{plCont.gold}}</div>
                        <div class="button" ng-click="change_gold()" tooltip="Change Gold"><i class="icon-edit icon-white"></i></div>
                    </div>
                    <div class="gui-group">
                        <div class="gui-label size-zero">Weight: {{plCont|weight}}</div>
                    </div>
                    <table class="gui-table item-table">
                        <tr>
                            <th>Item</th><th>G</th><th>W</th><th>x</th>
                        </tr>
                        <tbody btf-dragon="item in plCont._2m.items()" btf-dragon-drop-function="item_drop">
                            <tr class="cursor-pointer">
                                <td class="item-name-cell" ng-click="compendium('item', 'mundane', item)">{{item.name|trunc:18}}</td>
                                <td>{{item.cost}}</td>
                                <td>{{item.weight}}</td>
                                <td ng-click="split_item(item)">{{item.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><div>&nbsp;</div>
        <div ng-controller="ContainerCtrl">
            <div class="gui-box-header">
                <div class="dropdown inline">
                    <a class="dropdown-toggle">
                        <i class="icon-th-list inline" tooltip="Container Menu"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                          <a ng-click="new_container()"><i class="icon-plus"></i>New Container</a>
                        </li>
                    </ul>
                </div>
                <h3 class="inline">Containers</h3>
            </div>
            <div class="gui-box-body">
                <div class="container-section" btf-dragon-drop-function="item_drop">
                    <div class="container-section-header">
                        <div class="pull-left cursor-pointer"><i class="icon-arrow-left icon-white"></i></div>
                        {{othCont.name|trunc:12}}&nbsp;
                        <div class="dropdown inline">
                            <a class="dropdown-toggle">
                                <i class="icon-share-alt icon-white" tooltip="Choose Container"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="cont in othContList">
                                  <a ng-click="change_other_container(cont)">{{cont.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <i class="icon-ban-circle icon-white cursor-pointer" tooltip="Delete Container" ng-click="delete_container()"></i>
                        <div class="pull-right cursor-pointer"><i class="icon-arrow-right icon-white"></i></div>
                    </div>
                    <div class="gui-group">
                        <div class="gui-label size-zero">Gold: {{othCont.gold}}</div>
                        <div class="button" ng-click="loot_gold()" tooltip="Loot Gold"><i class="icon-fullscreen icon-white"></i></div>
                    </div>
                    <div class="gui-group">
                        <div class="gui-label size-zero">Weight: {{othCont|weight}}</div>
                    </div>
                    <table class="gui-table item-table">
                        <tr>
                            <th>Item</th><th>G</th><th>W</th><th>x</th>
                        </tr>
                        <tbody btf-dragon="item in othCont._2m.items()" btf-dragon-drop-function="item_drop">
                            <tr class="cursor-pointer">
                                <td class="item-name-cell" ng-click="compendium('item', 'mundane', item)">{{item.name|trunc:18}}</td>
                                <td>{{item.cost}}</td>
                                <td>{{item.weight}}</td>
                                <td ng-click="split_item(item)">{{item.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><div class="xpan5" ng-controller="ItemFinderCtrl" btf-dragon-drop-function="item_drop">
        <div class="gui-box-header">
            <div class="dropdown inline">
                <a class="dropdown-toggle">
                    <i class="icon-th-list inline" tooltip="Player Menu"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                      <a ng-click="magic = true;"><i class="icon-star"></i>Magic</a>
                    </li>
                    <li>
                      <a ng-click="magic = false;"><i class="icon-leaf"></i>Mundane</a>
                    </li>
                </ul>
            </div>
            <h3 class="inline">Item Finder</h3>
        </div>
        <div class="gui-box-body" ng-controller="MagicItemFinderCtrl" ng-show="magic">
            <div class="gui-row">
                <div class="gui-row-header">Magic Item Search</div>
                <div class="gui-group">
                    <input placeholder="Item Name" type="text" class="size-kilo" ng-model="itemName">
                    <select class="input-small pull-right" ng-model="rarity" ng-options="rar.name for rar in rarityList"><option value="">-Rarity-</option></select>
                    <div class="gui-label size-micro">Level:
                    </div><input type="text" ng-model="levelStart" class="size-nano"
                    ><div class="gui-label size-nano">&nbsp;to
                    </div><input type="text" ng-model="levelStop" class="size-nano">
                    <div class="gui-label size-micro">Cost:
                    </div><input type="text" ng-model="costStart" class="size-nano"
                    ><div class="gui-label size-nano">&nbsp;to
                    </div><input type="text" ng-model="costStop" class="size-nano">
                    <select class="input-small" ng-model="category" ng-options="cat.name for cat in categoryList"><option value="">-Category-</option></select>
                    <div ng-click="item_finder_search()" class="button pull-right size-mili">Search</div>
                </div>
            </div>
            <div class="scroll-y">
                <table class="gui-table item-table">
                    <tr>
                        <th>Item</th><th>Cat</th><th>G</th><th>R</th>
                    </tr>
                    <tbody btf-dragon="item in results" btf-double-dragon btf-dragon-drop-function="item_drop">
                        <tr class="cursor-pointer">
                            <td ng-click="compendium('item', 'mundane', item)">{{item.name}}</td>
                            <td>{{item._2o.category().name | category_short}}</td>
                            <td>{{item.cost}}</td>
                            <td>{{item.rarity}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="gui-box-body" ng-controller="MundaneItemFinderCtrl" ng-show="!magic">
            <div class="gui-row">
                <div class="gui-row-header">Mundane Item Search</div>
                <div class="gui-group">
                    <input placeholder="Item Name" type="text" class="size-kilo" ng-model="itemName">&nbsp;
                    <select class="input-small" ng-model="category" ng-options="cat.name for cat in categoryList"><option value="">-Category-</option></select>
                    <select class="input-small" ng-model="subtype" ng-options="st.name for st in category._2m.subtypes()"><option value="">-Subtype-</option></select>
                    <div ng-click="item_finder_search()" class="button size-zero pull-right">Search</div>
                </div>
            </div>
            <div class="scroll-y">
                <table class="gui-table item-table">
                    <tr>
                        <th>Item</th><th>Cat</th><th>G</th><th>W</th>
                    </tr>
                    <tbody btf-dragon="item in results" btf-double-dragon btf-dragon-drop-function="item_drop">
                        <tr class="cursor-pointer">
                            <td ng-click="compendium('item', 'mundane', item)">{{item.name}}</td>
                            <td>{{item._2o.category().name | category_short}}</td>
                            <td>{{item.cost}}</td>
                            <td>{{item.weight}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
</div>