<div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="#">{{campaign.name}}</a>
      <ul class="nav">
        <li>
            <a href="#/campaign/combat/{{campaign.id}}/">Combat</a>
        </li>
        <li class="active">
            <a href="#/campaign/trade/{{campaign.id}}/">Trade</a>
        </li>
        <li>
            <a href="#">Status</a>
        </li>
      </ul>
      <a class="pull-right" href="#">Mendigames</a>
    </div>
  </div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4 trade-section">
            <button ng-click="new_container()" class="btn">New</button>
            <tabset vertical="false" type="'tabs'" >
                <tab class="pointer" ng-repeat="cont in othContList" heading="{{cont.name}}" active="cont.active">
                    <div ng-controller="ContainerCtrl">
                        <button ng-click="delete_container()" class="btn">Delete</button>
                        <button ng-click="loot_gold(cont)" class="btn">Loot Gold:{{cont.gold}}</button>
                        <button ng-click="loot_all()" class="btn">Loot All</button>
                        <div class="row-fluid inventory-table-header">
                            <div class="span4 inventory-cell" ng-click="set_predicate('name')">Name</div>
                            <div class="span3 inventory-cell" ng-click="set_predicate('category')">Type</div>
                            <div class="span1 inventory-cell" ng-click="set_predicate('level')">L</div>
                            <div class="span1 inventory-cell" ng-click="set_predicate('rarity')">R</div>
                            <div class="span1 inventory-cell" ng-click="set_predicate('weight')">W</div>
                            <div class="span2 inventory-cell" ng-click="set_predicate('cost')">G</div>
                            <div class="span1 inventory-cell" ng-click="set_predicate('amount')">x</div>
                        </div>
                        <div class="inventory-table-body" btf-dragon="item in cont._2m.items()" btf-dragon-drop-function="item_drop">
                            <div class="row-fluid inventory-row">
                                <div class="span4 inventory-cell" ng-click="fetch_from_compendium(hi._2o.item())">{{item.name}}</div>
                                <div class="span3 inventory-cell" ng-click="fetch_from_compendium(hi._2o.item())">{{item._2o.mundane().name}}</div>
                                <div class="span1 inventory-cell">{{item.level}}</div>
                                <div class="span1 inventory-cell">{{item._2o.magic().rarity}}</div>
                                <div class="span1 inventory-cell">{{item.weight}}</div>
                                <div class="span2 inventory-cell">{{item.cost}}</div>
                                <div class="span1 inventory-cell last-cell">x {{item.amount}}</div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="span4 trade-section">
            <form class="form-inline">
                <label class="checkbox">Buy Price: <select class="input-small" ng-model="buy_adjustment" ng-options="price.text for price in prices"></select></label>
                <label class="checkbox">Sell Price: <select class="input-small" ng-model="sell_adjustment" ng-options="price.text for price in prices"></select></label>
            </form>
            <button ng-click="split_gold()" class="btn">Split Gold</button>
            <button ng-click="mass_give_gold()" class="btn">Mass Give Gold</button>
            <tabset vertical="false" type="'tabs'" >
                <tab class="pointer" ng-repeat="cont in plContList" heading="{{cont.name}}" active="cont.active">
                    <div ng-controller="InventoryCtrl">
                        <button ng-click="change_gold(0)" class="btn">Gold:{{cont.gold}}</button>
                        <div class="row-fluid inventory-table-header">
                            <div class="span4 inventory-cell" ng-click="set_predicate('name')">Name</div>
                            <div class="span3 inventory-cell" ng-click="set_predicate('category')">Type</div>
                            <div class="span1 inventory-cell" ng-click="set_predicate('level')">L</div>
                            <div class="span1 inventory-cell" ng-click="set_predicate('rarity')">R</div>
                            <div class="span1 inventory-cell" ng-click="set_predicate('weight')">W</div>
                            <div class="span2 inventory-cell" ng-click="set_predicate('cost')">G</div>
                            <div class="span1 inventory-cell" ng-click="set_predicate('amount')">x</div>
                        </div>
                        <div class="inventory-table-body" btf-dragon="item in cont._2m.items()" btf-dragon-drop-function="item_drop">
                            <div class="row-fluid inventory-row">
                                <div class="span4 inventory-cell" ng-click="fetch_from_compendium(hi._2o.item())">{{item.name}}</div>
                                <div class="span3 inventory-cell" ng-click="fetch_from_compendium(hi._2o.item())">{{item._2o.mundane().name}}</div>
                                <div class="span1 inventory-cell">{{item.level}}</div>
                                <div class="span1 inventory-cell">{{item._2o.magic().rarity}}</div>
                                <div class="span1 inventory-cell">{{item.weight}}</div>
                                <div class="span2 inventory-cell">{{item.cost}}</div>
                                <div class="span1 inventory-cell last-cell">x {{item.amount}}</div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="span4 trade-section" ng-controller="ItemFinderCtrl">
            <div class="btn-group" ng-init="magic = true;">
                <button type="button" class="btn btn-primary" ng-model="magic" btn-radio="true">Magic</button>
                <button type="button" class="btn btn-inverse" ng-model="magic" btn-radio="false">Mundane</button>
            </div>
            <div class="magic-item-finder" ng-show='magic' ng-controller="MagicItemFinderCtrl">
                <div class="inventory-config">
                    <form class="form-inline">
                        <input type="text" class="input-medium" ng-model="itemName" placeholder="Item name">
                        <select class="input-small" ng-model="rarity" ng-options="rar.name for rar in rarityList"><option value="">-Rarity-</option></select>
                        <select class="input-small" ng-model="category" ng-options="cat.name for cat in categoryList"><option value="">-Category-</option></select>
                        <label class="checkbox">Level: <input type="text" ng-model="levelStart" class="input-nano"></label><label>to<input type="text" ng-model="levelStop" class="input-nano"></label>
                        <label class="checkbox">Cost: <input type="text" ng-model="costStart" class="input-nano"></label><label>to<input type="text" ng-model="costStop" class="input-nano"></label>
                        <button ng-click="item_finder_search(1)" class="btn">Search</button>
                    </form>
                    <pagination num-pages="pageCount" current-page="currentPage" max-size="5" class="pagination-small" boundary-links="true" on-select-page="goto_page(page)"></pagination>
                </div>
                <div class="inventory-table-header minus-scrollbar">
                    <div class="row-fluid">
                        <div class="span4 inventory-cell" ng-click="set_predicate('name')">Name</div>
                        <div class="span3 inventory-cell" ng-click="set_predicate('category')">Category</div>
                        <div class="span3 inventory-cell" ng-click="set_predicate('category')">Types</div>
                        <div class="span1 inventory-cell" ng-click="set_predicate('level')">L</div>
                        <div class="span1 inventory-cell" ng-click="set_predicate('rarity')">R</div>
                        <div class="span1 inventory-cell" ng-click="set_predicate('cost')">G</div>
                    </div>
                </div>
                <div class="inventory-table-body" btf-dragon="magic in itemFinder.results | orderBy:predicate:predicate_reverse | filter:itemFinder_filter" btf-double-dragon btf-dragon-drop-function="item_drop">
                    <div class="row-fluid inventory-row">
                        <div class="span4 inventory-cell" ng-click="compendium(magic)">{{magic.name}}</div>
                        <div class="span3 inventory-cell">{{magic._2o.category().name}}</div>
                        <div class="span3 inventory-cell" ng-click="fill_subtypes(magic)">{{magic._2m.subtypes() | subtypes}}</div>
                        <div class="span1 inventory-cell">{{magic | level_plus}}</div>
                        <div class="span1 inventory-cell">{{magic.rarity}}</div>
                        <div class="span1 inventory-cell last-cell">{{magic | cost_plus}}</div>
                    </div>
                </div>
            </div>
            <div class="mundane-item-finder" ng-show='!magic' ng-controller="MundaneItemFinderCtrl">
                <div class="inventory-config">
                    <form class="form-inline">
                        <input type="text" class="input-medium" ng-model="itemName" placeholder="Item name">
                        <select class="input-small" ng-model="category" ng-options="cat.name for cat in categoryList"><option value="">-Category-</option></select>
                        <select class="input-small" ng-model="subtype" ng-options="st.name for st in category._2m.subtypes()"><option value="">-Subtype-</option></select>
                        <button ng-click="item_finder_search()" class="btn">Search</button>
                    </form>
                </div>
                <div class="inventory-table-header minus-scrollbar">
                    <div class="row-fluid">
                        <div class="span4 inventory-cell" ng-click="set_predicate('name')">Name</div>
                        <div class="span3 inventory-cell" ng-click="set_predicate('category')">Category</div>
                        <div class="span3 inventory-cell" ng-click="set_predicate('subtype')">Subtype</div>
                        <div class="span1 inventory-cell" ng-click="set_predicate('weight')">W</div>
                        <div class="span1 inventory-cell" ng-click="set_predicate('cost')">G</div>
                    </div>
                </div>
                <div class="inventory-table-body" btf-dragon="mundane in results | orderBy:predicate:predicate_reverse | filter:itemFinder_filter" btf-double-dragon btf-dragon-drop-function="item_drop">
                    <div class="row-fluid inventory-row">
                        <div class="span4 inventory-cell" ng-click="fetch_from_compendium(mundane)">{{mundane.name}}</div>
                        <div class="span3 inventory-cell">{{get_category(mundane).name}}</div>
                        <div class="span3 inventory-cell">{{get_subtype(mundane).name}}</div>
                        <div class="span1 inventory-cell">{{mundane.weight}}</div>
                        <div class="span1 inventory-cell last-cell">{{mundane.cost}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

