<div class="gui-row">
    <div class="gui-row-title">
        Create Enemies        
    </div>
</div>
<div class="gui-row">
    <div class="gui-group">
        <div class="gui-label size-kilo">Name x Count</div>
        <input type="text" class="input-medium" ng-model="enemy.name" maxlength="">x<input type="text" class="input-nano" ng-model="enemy.count" maxlength="2">
    </div>
</div>
<div class="gui-row">
    <div class="gui-group">
        <div class="gui-label size-kilo">Hit Points</div>
        <input type="{{hp_show}}" class="input-micro" ng-model="enemy.hit_points" maxlength="3">
    </div>
</div>
<div class="gui-row">
    <div class="gui-group">
        <div class="gui-label size-kilo">Init Mod</div>
        <input type="text" class="input-nano" ng-model="enemy.init_mod">
    </div>
</div>
<div class="gui-row">
    <div class="gui-group">
        <div class="gui-label size-kilo">Action Points</div>
        <input type="text" class="input-nano" ng-model="enemy.ap">
    </div>
</div>
<div class="gui-row">
    <div class="button" ng-click="close()">Add</div>
    <div class="button button-cancel" ng-click="cancel()">Cancel</div>
</div>