<div class="gui-row">
    <div class="gui-row-title">Damage or Heal?</div>
</div>
<div class="gui-row">
    <div class="gui-group">
        <div class="gui-label">Select</div>
        <button type="button" class="btn btn-inverse btn-small" ng-model="heal" btn-radio="'damage'"><b>Damage</b></button>
        <button type="button" class="btn btn-inverse btn-small" ng-model="heal" btn-radio="'heal'"><b>Heal</b></button>
    </div>
</div>
<div class="xpan5">
    <div class="gui-row">
        <div class="gui-row-title">Set Value</div>
    </div>
    <div class="gui-row">
        <div ng-repeat="number in numbers" ng-click="setClose(number)" class="button size-nano">{{number}}</div>
    </div>
</div><div class="xpan5">
    <div class="gui-row">
        <div class="gui-row-title">Roll Value with Modifier</div>
    </div>
    <div class="gui-row">
        <div class="gui-group">
            <div class="gui-label">Multiplier:</div>
            <select class="size-micro" ng-model="selectedMultiplier" ng-options="multiplier for multiplier in multipliers"></select>
            <div class="gui-label">Modifier:</div>
            <select class="size-micro" ng-model="selectedModifier" ng-options="modifier for modifier in modifiers"></select>
        </div><div class="gui-group">
            <div class="inline">
                <div ng-repeat="dice in dices" class="button dice" ng-click="rollClose(dice)"><b>d{{dice}}</b></div>
            </div>
        </div>
    </div>
</div>