<div class="xpan5">
    <div class="gui-row">
        <div class="gui-row-title">
            Set Initiative
        </div>
    </div>
    <div class="gui-row inline">
        <div ng-repeat="number in numbers" ng-click="setClose(number)" class="button mod">
            {{number}}
        </div>    
    </div>
</div><div class="xpan5">
    <div class="gui-row">
        <div class="gui-row-title">
            Roll Initiative
        </div>
    </div>
    <div class="gui-row inline">
        <div ng-repeat="mod in mods" ng-click="rollClose(mod,20)" class="button mod">
            {{mod|plus_sign}}
        </div>    
    </div>
</div>