<!-- Modal -->
<div class="modal-body">
    <div ng-bind-html="magic.html_description" id="detail">
    </div>
    <div ng-show="!newSubtypeForm">
        <h5>Manage Subtypes:</h5>
        <div class="btn-group">
            <button class="btn" ng-click="newSubtypeForm = true;">New</button>
            <button class="btn" ng-click="clear_parse()">Clear+Parse</button>
            <button class="btn" ng-click="clear()">Clear</button>
        </div>
    </div>
    <div ng-show="newSubtypeForm">
        <h5>Select Subtype</h5>
        <form class="form-inline">
            <select class="input-medium" ng-model="subtypeToAdd" ng-options="st.name for st in magic._2o.category()._2m.subtypes()"></select>
            <button class="btn btn-primary" ng-click="add_subtype()">Add</button>
            <button class="btn" ng-click="newSubtypeForm = false;">Cancel</button>
        </form>
    </div>
    <h5>Current Subtypes (click to remove)</h5>
    <form class="form-inline">
        <button ng-repeat="(i,st) in subtypes" class="btn btn-danger" ng-click="remove_subtype(i)">{{st.name}}</button>
    </form>
    <hr>
    <form>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-primary" ng-click="confirm()">Confirm</button>
                <button class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>