/* app css stylesheet */
@import 'bourbon/bourbon';
@import url(http://fonts.googleapis.com/css?family=Rum+Raisin);
@import url(http://fonts.googleapis.com/css?family=Expletus+Sans);

// -------------- Colors
$HP: #bd362f;
$INIT: rgb(56,56,56);
$AP: rgb(0,59,111);
$ENCOUNTER: #961334;
$ATWILL: darken(#619869,15%);
$DAILY: #4d4d4f;
$BGRAY: #ddd;
$FRONT: rgb(51,51,51);
$IFRONT: white;

body {
  font-family: Expletus Sans, sans-serif;
}

@mixin buttonify($color) {
  @include background-image(linear-gradient(to top, darken($color,9%),lighten($color,9%)));
  cursor: pointer;
  &:hover{
      @include radial-gradient($color, darken($color,9%),lighten($color,9%));
  }
}
@mixin flatify($color) {
  background-image: none;
  background-color: $color;
}
@mixin mutify($color) {
  background-image: none;
  background-color: lighten($color, 50%);
  color: lighten($color, 43%);
}
// -------------- General Config
.nav {
  margin-bottom: 0px;
  li{
    &:hover{
        @include radial-gradient(#ddd, #eee);
      }
      cursor: pointer;
  }
}

.hidden {
  display: none;
}

div.wizards-modal{
  padding:0px;
  width: 700px;
}

.block-icon{
  display: block;
  white-space:nowrap;
}

div.conditions-box {
  @include background-image(radial-gradient(#ddd, #fff));
  border: 1px solid lightgray;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  padding-top: 0px;
}

div.condition-box {
  display: inline-block;
  text-align: center;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  color: $IFRONT;
  font-weight: bold;
  width: 1.3em;
  @include buttonify($INIT);
}

// ------------- Combat List Config
div.character-block {
  @include background-image(radial-gradient(#ddd, #fff));
  border: 1px solid lightgray;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  border-image-outset: 0px;
  padding-top: 0px;
  margin-bottom: 5px;
}
  
div.character-name {
  font-family: 'Rum Raisin', cursive;
  font-size: 1.3em;
}
div.inline {
  display: inline-block;
}
div.power-container {
  border: 1px solid lightgray;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  padding-top: 0px;
}
div.power-container {
  border: 1px solid lightgray;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  padding-top: 0px;
}
div.has-conditions-box {
  @include background-image(radial-gradient(#fff, rgb(200,200,200)));
  border: 1px solid lightgray;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  padding-top: 0px;
  min-height: 60px;
}
div.power-use-button {
  display: inline-block;
  text-align: center;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  color: $IFRONT;
  font-weight: bold;
  width: 1.3em;
  &.at-will {
    display: none;
  }
  &.encounter {
    @include buttonify($ENCOUNTER);
    
    &.used {
      @include mutify($ENCOUNTER);
    }
  }
  &.daily {
    @include buttonify($DAILY);
    &.used {
      @include mutify($DAILY);
    }
  }
}

table.stat-table {
  width: 1px;
  height: 1px;
  margin: 0px;
  margin-top: 3px;
  padding: 0px;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  border-image-outset: 0px;
  &.hp {
    margin-left: 4%;
  }
  .stat-edit{
    height: 1em;
    width: 1.3em;
    margin: 0px;
  }
  td{
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    .inline{
      height: 1em;
      width:2em;
    }
    color: $FRONT;
  }
  td.black-table-label{
    @include background-image(linear-gradient(rgb(250, 250, 250), rgb(234, 234, 234)));
    color: rgb(51, 51, 51);
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
  }
  td.editable-cell{
    padding: 1px;
  }
  td.big-stat-bar{
    color: $IFRONT;
    text-shadow: rgb(17, 17, 17) 2px 2px 2px;
    font-size: 1.8em;
    &.hp {
      @include flatify($HP);
    }
    &.init {
      @include flatify($INIT);
    }
    &.ap {
      @include flatify($AP);
    }
    &.icon {
      font-size: 1.05em;
      border-left: 0px;
    }
  }

  td.button-cell{
    color: $IFRONT;
    font-weight: bold;
    @include buttonify($BGRAY);
    &.hp {
      @include buttonify($HP);
    }
    &.init {
      @include buttonify($INIT);
    }
    &.ap {
      @include buttonify($AP);
    }
  }
}

div.power-button {
  display: inline-block;
  padding: 1px;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  color: white;
  width: 1em;
  font-size: 1em;
  font-weight: bold;
  white-space:nowrap;
}

div.power-block {
  display: inline-block;
  padding: 4px;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  border-image-outset: 0px;
  color: white;
  width: 282px;
  font-size: 1em;
  font-weight: bold;
  white-space:nowrap;

  .level {
    font-size: 1.2em;
  }
  .spend.encounter-available,.info.encounter-available {
    @include buttonify($ENCOUNTER);
  }
  .recharge.encounter-available{
    display: none;
  }
  .recharge.encounter-used,.info.encounter-used {
    @include buttonify($ENCOUNTER);
  }
  .spend.encounter-used{
    display: none;
  }
  .spend.daily-available,.info.daily-available {
    @include buttonify($DAILY);
  }
  .recharge.daily-available{
    display: none;
  }
  .recharge.daily-used,.info.daily-used {
    @include buttonify($DAILY);
  }
  .spend.daily-used{
    display: none;
  }
  .info.at-will-available {
    @include buttonify($ATWILL);
  }
  .spend.at-will-available,.recharge.at-will-available{
    display: none;
  }
  .info.at-will-used {
    @include buttonify($ATWILL);
  }
  .recharge.at-will-used,.spend.at-will-used{
    display: none;
  }
}
.encounter-available {
  background-color: $ENCOUNTER;
}
.at-will-available {
  background-color: $ATWILL;
}
.daily-available {
  background-color: $DAILY;
}
.encounter-used {
  background-color: lighten($ENCOUNTER, 60%);
}
.at-will-used {
  background-color: lighten($ATWILL, 70%);
}
.daily-used {
  background-color: lighten($DAILY, 50%);
}