/* app css stylesheet */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.3em; }

.menu:before {
  content: "["; }

.menu:after {
  content: "]"; }

.menu > li {
  display: inline; }

.menu > li:before {
  content: "|";
  padding-right: 0.3em; }

.menu > li:nth-child(1):before {
  content: "";
  padding: 0; }

div.character-block {
  background-image: -webkit-radial-gradient( #dddddd, white);
  background-image: radial-gradient(   #dddddd, white);
  border: 1px solid lightgray;
  padding: 5px; }

table.stats th {
  background-image: -webkit-linear-gradient(top, #666666, black);
  background-image: linear-gradient(to bottom, #666666, black);
  color: white;
  font-size: 16px;
  text-align: center;
  vertical-align: middle; }
table.stats th.hs {
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4); }
table.stats th.hp {
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f); }
table.stats th.xp {
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351); }
table.stats th.gold {
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406); }
table.stats th.ap {
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc); }
table.stats td {
  text-align: center;
  font-weight: bold; }
