<div ng-include src="'/static/mendigames/partials/navbar.html'"></div>
<div class="container">
    <form class="form-horizontal">
        <legend>Stats</legend>
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <input type="text" class="input-large" ng-model="c.name" maxlength="" placeholder="">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Healing Surges</label>
            <div class="controls">
                <input type="text" class="input-nano" ng-model="c.healing_surges" maxlength="" placeholder="">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Hit Points</label>
            <div class="controls">
                <input type="text" class="input-mini" ng-model="c.hit_points" maxlength="" placeholder="">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Type</label>
            <div class="controls">
                <select class="" ng-model="c.type" ng-options="cType for cType in cTypes"></select>
            </div>
        </div>
        <legend>Powers</legend>
        <div class="row-fluid" ng-controller="ManagementCharacterPowerCtrl">
            <div class="span6 well">
                <div>
                    <h5 class="inline">{{c.name}}'s Powers</h5>
                    <div class="btn pull-right" ng-click="remove_all()"><i class="icon-trash"></i>Remove All</div>
                </div>
                <table class="table table-striped" btf-dragon-drop-function="'power_drop'" class="droppable-area">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Level</th>
                            <th>Usage</th>
                            <th>Action</th>
                            <th>Remove?</th>
                        </tr>
                    </thead>
                   <tbody>
                       <tr ng-repeat="(pi, power) in cPowers">
                           <td>{{power.name}}</td>
                           <td>{{power.level}}</td>
                           <td>{{power.usage}}</td>
                           <td>{{power.action}}</td>
                           <td><i class="icon-trash" ng-click="delete_power(pi)"></i></td>
                       </tr>
                   </tbody> 
                </table>
            </div>
            <div class="span6 well">
                <div>
                    <h5 class="inline">Power Compendium</h5><div class="btn pull-right" ng-click="from_summary()">Paste Summary</div>
                    <div class="btn pull-right" ng-click="add_all()"><i class="icon-arrow-left"></i>Add All</div>
                </div>
                <form class="form-search">
                  <input type="text" ng-model="pName" class="input-medium search-query">
                    <select class="input-small" ng-model="pUsage" ng-options="usage.name for usage in pUsages"><option value="">-Usage-</option></select>
                    <select class="input-small" ng-model="pAction" ng-options="action.name for action in pActions"><option value="">-Action-</option></select>
                    Level:
                    <input type="text" class="input-nano" ng-model="pLevel" maxlength="" placeholder="">
                  <button ng-click="search()" class="btn">Search</button>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Add</th>
                            <th>Name</th>
                            <th>Level</th>
                            <th>Usage</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                   <tbody btf-dragon="(pi, power) in powers" btf-double-dragon class="droppable-area">
                       <tr>
                           <td><i class="icon-arrow-left" ng-click="add_power(power)"></i></td>
                           <td ng-click="compendium(power)">{{power.name}}</td>
                           <td>{{power.level}}</td>
                           <td>{{power.usage}}</td>
                           <td>{{power.action}}</td>
                       </tr>
                   </tbody> 
                </table>
                <pagination num-pages="pageCount" current-page="currentPage" max-size="5" class="pagination-small" boundary-links="true" on-select-page="goto_page(page)"></pagination>
            </div>
            <!-- Modal -->
            <div class="wizards-modal" modal="wizardsModal" close="wizardsModal = false;">
                <div ng-bind-html="modalPower.html_description" id="detail">
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-success" ng-click="save()">Save</button>
                <button class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>
