body {
  font-family: Verdana, sans-serif; }

@media (min-width: 10px) {
  .modal {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -261px;
    padding: 10px;
    width: 500px;
    border-radius: 3px; } }
.cage {
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -267.5px;
  width: 535px; }

.content {
  padding-left: 1.4em;
  margin-right: 1.4em; }

label {
  cursor: default; }

.size-micro {
  width: 41px; }

.size-nano {
  width: 20px; }

.size-micro {
  width: 40px; }

.size-mili {
  width: 60px; }

.size-zero {
  width: 80px; }

.size-kilo {
  width: 120px; }

.size-mega {
  width: 160px; }

.size-giga {
  width: 220px; }

.droppable-area {
  min-height: 50px; }

.nospace {
  margin: 0; }

.inline {
  display: inline-block; }

.nowrap {
  white-space: nowrap; }

select, input[type="text"], input[type="password"] {
  height: 25px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

.xpan1 {
  display: inline-block;
  vertical-align: top;
  width: 10%; }

.xpan2 {
  display: inline-block;
  vertical-align: top;
  width: 20%; }

.xpan3 {
  display: inline-block;
  vertical-align: top;
  width: 30%; }

.xpan4 {
  display: inline-block;
  vertical-align: top;
  width: 40%; }

.xpan5 {
  display: inline-block;
  vertical-align: top;
  width: 50%; }

.xpan6 {
  display: inline-block;
  vertical-align: top;
  width: 60%; }

.xpan7 {
  display: inline-block;
  vertical-align: top;
  width: 70%; }

.xpan8 {
  display: inline-block;
  vertical-align: top;
  width: 80%; }

.xpan9 {
  display: inline-block;
  vertical-align: top;
  width: 90%; }

.gui-row {
  text-align: left;
  vertical-align: middle;
  background-color: whitesmoke;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px; }
  .gui-row span {
    width: 5em; }
  .gui-row div {
    display: inline-block;
    color: white; }
    .gui-row div.gui-label {
      white-space: nowrap;
      padding-right: 5px;
      color: #464646; }
    .gui-row div.gui-group {
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 2px;
      padding-bottom: 2px;
      border-width: 1px;
      border-color: white;
      border-style: solid;
      border-radius: 3px;
      margin-right: 2px;
      background-color: #e1e1e1; }
    .gui-row div.gui-row-title {
      padding-left: 5px;
      font-weight: bold;
      color: #464646; }
    .gui-row div.gui-value {
      padding-left: 5px;
      padding-right: 5px;
      background-color: #464646;
      text-align: center;
      vertical-align: middle;
      color: white;
      font-weight: bold; }
  .gui-row p {
    display: inline-block; }
  .gui-row select {
    display: inline-block;
    margin: 0;
    padding: 0; }

.gui-box {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px; }

.button {
  text-align: center;
  vertical-align: middle;
  background-image: -webkit-linear-gradient(bottom, #2f2f2f, #5d5d5d);
  background-image: linear-gradient(to top, #2f2f2f, #5d5d5d);
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 2px; }
  .button:hover {
    background-color: #464646;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #464646), color-stop(50%, #2f2f2f), color-stop(100%, #5d5d5d));
    background-image: -webkit-radial-gradient(#464646, #2f2f2f, #5d5d5d);
    background-image: radial-gradient(  #464646, #2f2f2f, #5d5d5d); }
  .button.button-cancel {
    background-image: -webkit-linear-gradient(bottom, #cfcfcf, #fdfdfd);
    background-image: linear-gradient(to top, #cfcfcf, #fdfdfd);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-radius: 3px;
    color: #464646; }
    .button.button-cancel:hover {
      background-color: #e6e6e6;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #e6e6e6), color-stop(50%, #cfcfcf), color-stop(100%, #fdfdfd));
      background-image: -webkit-radial-gradient(#e6e6e6, #cfcfcf, #fdfdfd);
      background-image: radial-gradient(  #e6e6e6, #cfcfcf, #fdfdfd); }
  .button.dice {
    min-width: 2em; }
  .button.icon {
    width: 1.8em; }

table.gui-table {
  width: 100%;
  border-color: #bebebe;
  border-style: solid;
  border-width: 1px;
  border-bottom: 0px;
  border-right: 0px;
  border-radius: 3px; }
  table.gui-table tr {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom-color: #bebebe;
    border-bottom-style: solid;
    border-bottom-width: 1px; }
    table.gui-table tr.turn {
      border: 3px solid #646464; }
    table.gui-table tr td, table.gui-table tr th {
      font-weight: bold;
      padding-left: 4px;
      padding-right: 4px;
      border-right-color: #bebebe;
      border-right-style: solid;
      border-right-width: 1px; }
      table.gui-table tr td i, table.gui-table tr th i {
        cursor: pointer; }
    table.gui-table tr th {
      background-color: #464646;
      color: white; }
    table.gui-table tr td {
      color: #434343;
      background-color: whitesmoke; }
      table.gui-table tr td.button-cell {
        background-image: -webkit-linear-gradient(bottom, #e8e8e8, #fdfdfd);
        background-image: linear-gradient(to top, #e8e8e8, #fdfdfd);
        cursor: pointer; }
        table.gui-table tr td.button-cell:hover {
          background-color: whitesmoke;
          background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, whitesmoke), color-stop(50%, #e8e8e8), color-stop(100%, white));
          background-image: -webkit-radial-gradient(whitesmoke, #e8e8e8, white);
          background-image: radial-gradient(  whitesmoke, #e8e8e8, white); }
      table.gui-table tr td .incell-button {
        display: inline-block;
        background-color: whitesmoke;
        cursor: pointer;
        border-radius: 3px;
        border-color: #fdfdfd;
        border-style: solid;
        border-width: 1px;
        min-width: 1em;
        text-align: center; }
