body {
  font-family: Verdana, sans-serif; }

@media (max-width: 767px) {
  body {
    font-size: 10px; } }
@media (min-width: 768px) {
  body {
    font-size: 11px; } }
@media (min-width: 980px) {
  body {
    font-size: 12px; } }
@media (min-width: 1200px) {
  body {
    font-size: 14px; } }
.tooltip {
  font-size: 1.5em; }

.content {
  padding-left: 1.4em;
  margin-right: 1.4em; }

label {
  cursor: default; }

.input-nano {
  width: 20px; }
