body {
  font-family: Verdana, sans-serif;
}

.modal {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  padding: 10px;
  border: {
    radius: 3px;
  }
}

.tooltip {
  font-size: 1.5em;
}

.content {
  padding-left: 1.4em;
  margin-right: 1.4em;
}

label {
  cursor: default;
}

.input-nano {
  width: 20px;
}

.input-micro {
  width: 41px;
}

.size-nano {
  width: 20px;
}
.size-micro {
  width: 40px;
}
.size-mili {
  width: 60px;
}
.size-zero {
  width: 80px;
}
.size-kilo {
  width: 120px;
}
.size-mega {
  width: 160px;
}
.size-giga {
  width: 220px;
}

.modal-body {
  max-height: 700px;
}

.droppable-area {
  min-height: 50px;
}

.nospace {
  margin: 0;
}

.inline {
  display: inline-block;
}

select,input[type="text"],input[type="password"] {
  height: 23px;
  margin-bottom: 0;
  padding: {
    top: 0;
    bottom: 0;
  }
}
