body {
  font-family: Verdana, sans-serif; }

@media (min-width: 10px) {
  .modal {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -261px;
    padding: 10px;
    width: 500px;
    border-radius: 3px; } }
.cage {
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -267.5px;
  width: 535px; }

.content {
  padding-left: 1.4em;
  margin-right: 1.4em; }

label {
  cursor: default; }

.size-micro {
  width: 41px; }

.size-nano {
  width: 20px; }

.size-micro {
  width: 40px; }

.size-mili {
  width: 60px; }

.size-zero {
  width: 80px; }

.size-kilo {
  width: 120px; }

.size-mega {
  width: 160px; }

.size-giga {
  width: 220px; }

.droppable-area {
  min-height: 50px; }

.nospace {
  margin: 0; }

.inline {
  display: inline-block; }

select, input[type="text"], input[type="password"] {
  height: 23px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

.xpan1 {
  display: inline-block;
  vertical-align: top;
  width: 10%; }

.xpan2 {
  display: inline-block;
  vertical-align: top;
  width: 20%; }

.xpan3 {
  display: inline-block;
  vertical-align: top;
  width: 30%; }

.xpan4 {
  display: inline-block;
  vertical-align: top;
  width: 40%; }

.xpan5 {
  display: inline-block;
  vertical-align: top;
  width: 50%; }

.xpan6 {
  display: inline-block;
  vertical-align: top;
  width: 60%; }

.xpan7 {
  display: inline-block;
  vertical-align: top;
  width: 70%; }

.xpan8 {
  display: inline-block;
  vertical-align: top;
  width: 80%; }

.xpan9 {
  display: inline-block;
  vertical-align: top;
  width: 90%; }
