@import 'bourbon/bourbon';
@import 'mixins.scss';

body {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-size: 20px;
  line-height: 26px;
}
h2 {
  font-size: 18px;
  line-height: 24px;
}
h3 {
  font-size: 15px;
  line-height: 21px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

legend {
  margin-bottom: 0;
  border-bottom: 0;
  width: auto;
  line-height: 1.8em;
}

$DARKFONT: rgb(70,70,70);
$WELLBG: rgb(245,245,245);

@media (min-width: 10px) {
  .modal {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -261px;
    padding: 10px;
    width: 500px;
    border: {
      radius: 3px;
    }
  }
}

.cage {
  margin-left: auto;
  margin-right: auto;
  width: 535px;
}

.content {
  padding-left: 1.4em;
  margin-right: 1.4em;
}

label {
  cursor: default;
}

.size-micro {
  width: 41px;
}
.size-nano {
  width: 20px;
}
.size-micro {
  width: 40px;
}
.size-mili {
  width: 60px;
}
.size-zero {
  width: 80px;
}
.size-kilo {
  width: 120px;
}
.size-mega {
  width: 160px;
}
.size-giga {
  width: 220px;
}

.droppable-area {
  min-height: 50px;
}

.nospace {
  margin: 0;
}

.inline {
  display: inline-block;
}

.nowrap {
  white-space: nowrap;
}

.nopadding {
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move; 
}

.scroll-y {
  overflow-y: scroll;
  height: 400px;
}

select,input[type="text"],input[type="password"] {
  height: 25px;
  margin-bottom: 0;
  padding: {
    top: 0;
    bottom: 0;
  }
}

.xpan1 {
  display: inline-block;
  vertical-align: top;
  width: 10%;
}
.xpan2 {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
.xpan3 {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
.xpan4 {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}
.xpan5 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.xpan6 {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}
.xpan7 {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}
.xpan8 {
  display: inline-block;
  vertical-align: top;
  width: 80%;
}
.xpan9 {
  display: inline-block;
  vertical-align: top;
  width: 90%;
}

.gui-box-header {
  @include background-image(linear-gradient(to bottom, #fafafa,#eaeaea));
  background-repeat: repeat-x;
  border: 1px solid #d5d5d5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: bold;
  color: $DARKFONT;
  padding: {
    left: 10px;
    right: 10px;
    top:3px;
    bottom:3px;
  }
  h3 {
    margin: {
      left: 0px;
      right: 0px;
      top:0px;
      bottom:0px;
    }
  }
}
.gui-box-body {
  background-color: #fff;
  border: solid #d5d5d5;
  border-width: 0 1px 1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.gui-row {
  text-align: left;
  vertical-align: middle;
  border: {
    width: 1px;
    color: darken($WELLBG, 15%);
    style: solid;
    left:0;
    right:0;
    top: 0;
  }
  padding: {
    left: 10px;
    right: 10px;
    bottom: 3px;
    top: 3px;
  }
}
.gui-row-header {
  font-size: 0.9em;
  font-weight: bold;
}

.gui-group {
  $GROUPCOLOR: rgb(245,245,245);
  padding: {
    left: 3px;
    right: 3px;
    top: 2px;
    bottom: 2px;
  }
  border: {
    width: 1px;
    color: darken($GROUPCOLOR, 5%);
    style: solid;
    radius: 3px;
  }
  display: inline-block;
  margin-right: 5px;
  background-color: $GROUPCOLOR;

  div {
    display: inline-block;
  }
  p {
    display: inline-block;
  }
  select {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

.gui-label {
  white-space: nowrap;
  padding-right: 5px;
  color: $DARKFONT;
}
.gui-value {
  padding-left: 5px;
  padding-right: 5px;
  background-color: $DARKFONT;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-weight: bold;
}

.button {
  text-align: center;
  vertical-align: middle;
  @include buttonify($DARKFONT);
  color: white;
  font-weight: bold;

  padding: {
    right: 5px;
    left: 5px;
    top: 1px;
    bottom: 2px;
  }
  &.button-cancel {
    @include buttonify(rgb(230,230,230));
    color: $DARKFONT;
  }
  &.dice {
    min-width: 1.5em;
  }
  &.icon {
    width: 1.8em;
  }
}

table.gui-table {
  $BORDERCOLOR: rgb(190,190,190); 
  $ALMOSTWHITE: rgb(245,245,245);
  width: 100%;
  border: {
    color: $BORDERCOLOR;
    style: solid;
    width: 1px;
    bottom: 0px;
    right: 0px;
    radius: 3px;
  }
  tr {
    padding: {
      top: 2px;
      bottom: 2px;
    }
    border-bottom: {
      color: $BORDERCOLOR;
      style: solid;
      width: 1px;
    }
    &.turn {
      border: 3px solid rgb(100,100,100);
    }
    td,th {
      font-weight: bold;
      i {
        cursor: pointer;
      }
      padding: {
        left: 4px;
        right: 4px;
      }
      border-right: {
        color: $BORDERCOLOR;
        style: solid;
        width: 1px;
      }
    }
    th {
      background-color: $DARKFONT;
      color: white;
    }
    td {
      @include color-cell($ALMOSTWHITE);
    }
  }
}