/* app css stylesheet */
.gui-row {
  text-align: left;
  vertical-align: middle;
  background-color: whitesmoke;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px; }
  .gui-row span {
    width: 5em; }
  .gui-row div {
    display: inline-block;
    color: white; }
    .gui-row div.gui-text {
      color: #464646;
      width: 4.5em; }
    .gui-row div.gui-textlabel {
      color: #464646;
      min-width: 4.5em; }
    .gui-row div.gui-group {
      padding-left: 5px;
      margin-right: 10px;
      background-color: #e1e1e1; }
    .gui-row div.gui-row-title {
      padding-left: 5px;
      font-weight: bold;
      color: #464646; }
    .gui-row div.gui-value {
      padding-left: 5px;
      padding-right: 5px;
      background-color: #464646;
      text-align: center;
      vertical-align: middle;
      color: white;
      font-weight: bold; }
  .gui-row p {
    display: inline-block; }
  .gui-row select {
    display: inline-block;
    margin: 0;
    padding: 0; }

.power-container {
  background-color: whitesmoke;
  padding-left: 5px;
  padding-right: 3px; }

.power-widget {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: white; }
  .power-widget .power-button {
    display: inline-block;
    margin: 0;
    color: white;
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 0px; }
    .power-widget .power-button.at-will {
      background-image: -webkit-linear-gradient(bottom, #3d6042, #4f7c56);
      background-image: linear-gradient(to top, #3d6042, #4f7c56);
      cursor: pointer;
      border-color: #395a3e; }
      .power-widget .power-button.at-will:hover {
        background-color: #436949;
        background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #436949), color-stop(50%, #314d35), color-stop(100%, #55855c));
        background-image: -webkit-radial-gradient(#436949, #314d35, #55855c);
        background-image: radial-gradient(  #436949, #314d35, #55855c); }
    .power-widget .power-button.daily {
      background-image: -webkit-linear-gradient(bottom, #454547, #5c5c5e);
      background-image: linear-gradient(to top, #454547, #5c5c5e);
      cursor: pointer;
      border-color: #404042; }
      .power-widget .power-button.daily:hover {
        background-color: #4d4d4f;
        background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #4d4d4f), color-stop(50%, #363638), color-stop(100%, #646466));
        background-image: -webkit-radial-gradient(#4d4d4f, #363638, #646466);
        background-image: radial-gradient(  #4d4d4f, #363638, #646466); }
    .power-widget .power-button.encounter {
      background-image: -webkit-linear-gradient(bottom, #88112f, #b1163d);
      background-image: linear-gradient(to top, #88112f, #b1163d);
      cursor: pointer;
      border-color: #7f102c; }
      .power-widget .power-button.encounter:hover {
        background-color: #961334;
        background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #961334), color-stop(50%, #6d0e26), color-stop(100%, #bf1842));
        background-image: -webkit-radial-gradient(#961334, #6d0e26, #bf1842);
        background-image: radial-gradient(  #961334, #6d0e26, #bf1842); }
    .power-widget .power-button.power-info {
      border-right-style: solid;
      border-right-width: 1px; }
    .power-widget .power-button.power-name {
      font-weight: bold; }
      .power-widget .power-button.power-name.at-will.used {
        background-image: -webkit-linear-gradient(bottom, #29412d, #3b5d40);
        background-image: linear-gradient(to top, #29412d, #3b5d40);
        cursor: pointer;
        color: #57885e; }
        .power-widget .power-button.power-name.at-will.used:hover {
          background-color: #2f4a33;
          background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #2f4a33), color-stop(50%, #1d2e20), color-stop(100%, #416647));
          background-image: -webkit-radial-gradient(#2f4a33, #1d2e20, #416647);
          background-image: radial-gradient(  #2f4a33, #1d2e20, #416647); }
      .power-widget .power-button.power-name.daily.used {
        background-image: -webkit-linear-gradient(bottom, #2c2c2d, #434345);
        background-image: linear-gradient(to top, #2c2c2d, #434345);
        cursor: pointer;
        color: #666669; }
        .power-widget .power-button.power-name.daily.used:hover {
          background-color: #343435;
          background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #343435), color-stop(50%, #1d1d1e), color-stop(100%, #4a4a4c));
          background-image: -webkit-radial-gradient(#343435, #1d1d1e, #4a4a4c);
          background-image: radial-gradient(  #343435, #1d1d1e, #4a4a4c); }
      .power-widget .power-button.power-name.encounter.used {
        background-image: -webkit-linear-gradient(bottom, #5b0c20, #84112e);
        background-image: linear-gradient(to top, #5b0c20, #84112e);
        cursor: pointer;
        color: #c31944; }
        .power-widget .power-button.power-name.encounter.used:hover {
          background-color: #690d24;
          background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #690d24), color-stop(50%, #400816), color-stop(100%, #911232));
          background-image: -webkit-radial-gradient(#690d24, #400816, #911232);
          background-image: radial-gradient(  #690d24, #400816, #911232); }

.button {
  text-align: center;
  vertical-align: middle;
  background-image: -webkit-linear-gradient(bottom, #2f2f2f, #5d5d5d);
  background-image: linear-gradient(to top, #2f2f2f, #5d5d5d);
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 3px;
  color: white;
  font-weight: bold; }
  .button:hover {
    background-color: #464646;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #464646), color-stop(50%, #2f2f2f), color-stop(100%, #5d5d5d));
    background-image: -webkit-radial-gradient(#464646, #2f2f2f, #5d5d5d);
    background-image: radial-gradient(  #464646, #2f2f2f, #5d5d5d); }
  .button.dice {
    min-width: 2em; }
  .button.icon {
    width: 1.8em; }

.characters-container {
  margin-top: 10px; }

table.character-list {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 1px;
  border-bottom: 0px;
  border-right: 0px;
  border-radius: 3px; }
  table.character-list tr {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom-color: #e1e1e1;
    border-bottom-style: solid;
    border-bottom-width: 1px; }
  table.character-list td, table.character-list th {
    padding-left: 4px;
    padding-right: 4px;
    border-right-color: #e1e1e1;
    border-right-style: solid;
    border-right-width: 1px; }
  table.character-list th {
    background-color: #464646;
    color: white; }

.button-cell {
  font-weight: bold;
  color: #464646;
  background-image: -webkit-linear-gradient(bottom, #ededed, white);
  background-image: linear-gradient(to top, #ededed, white);
  cursor: pointer; }
  .button-cell:hover {
    background-color: whitesmoke;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, whitesmoke), color-stop(50%, #dedede), color-stop(100%, white));
    background-image: -webkit-radial-gradient(whitesmoke, #dedede, white);
    background-image: radial-gradient(  whitesmoke, #dedede, white); }
  .button-cell.hp {
    background-image: -webkit-linear-gradient(bottom, #f2c0c0, #fae7e7);
    background-image: linear-gradient(to top, #f2c0c0, #fae7e7);
    cursor: pointer;
    color: #5e1414; }
    .button-cell.hp:hover {
      background-color: #f5cdcd;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #f5cdcd), color-stop(50%, #eda7a7), color-stop(100%, #fdf3f3));
      background-image: -webkit-radial-gradient(#f5cdcd, #eda7a7, #fdf3f3);
      background-image: radial-gradient(  #f5cdcd, #eda7a7, #fdf3f3); }
  .button-cell.hs {
    background-image: -webkit-linear-gradient(bottom, #c0c0f2, #e7e7fa);
    background-image: linear-gradient(to top, #c0c0f2, #e7e7fa);
    cursor: pointer;
    color: #14145e; }
    .button-cell.hs:hover {
      background-color: #cdcdf5;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #cdcdf5), color-stop(50%, #a7a7ed), color-stop(100%, #f3f3fd));
      background-image: -webkit-radial-gradient(#cdcdf5, #a7a7ed, #f3f3fd);
      background-image: radial-gradient(  #cdcdf5, #a7a7ed, #f3f3fd); }
  .button-cell.ap {
    background-image: -webkit-linear-gradient(bottom, #f2f2c0, #fafae7);
    background-image: linear-gradient(to top, #f2f2c0, #fafae7);
    cursor: pointer;
    color: #5e5e14; }
    .button-cell.ap:hover {
      background-color: #f5f5cd;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #f5f5cd), color-stop(50%, #ededa7), color-stop(100%, #fdfdf3));
      background-image: -webkit-radial-gradient(#f5f5cd, #ededa7, #fdfdf3);
      background-image: radial-gradient(  #f5f5cd, #ededa7, #fdfdf3); }
  .button-cell.xp {
    background-image: -webkit-linear-gradient(bottom, #c0f2c0, #e7fae7);
    background-image: linear-gradient(to top, #c0f2c0, #e7fae7);
    cursor: pointer;
    color: #145e14; }
    .button-cell.xp:hover {
      background-color: #cdf5cd;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #cdf5cd), color-stop(50%, #a7eda7), color-stop(100%, #f3fdf3));
      background-image: -webkit-radial-gradient(#cdf5cd, #a7eda7, #f3fdf3);
      background-image: radial-gradient(  #cdf5cd, #a7eda7, #f3fdf3); }

.board-cell div {
  display: inline-block; }
.board-cell.init {
  white-space: nowrap;
  font-weight: bold; }
  .board-cell.init .incell {
    color: #464646;
    background-image: -webkit-linear-gradient(bottom, #ededed, white);
    background-image: linear-gradient(to top, #ededed, white);
    cursor: pointer;
    min-width: 1em;
    text-align: center; }
    .board-cell.init .incell:hover {
      background-color: whitesmoke;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, whitesmoke), color-stop(50%, #dedede), color-stop(100%, white));
      background-image: -webkit-radial-gradient(whitesmoke, #dedede, white);
      background-image: radial-gradient(  whitesmoke, #dedede, white); }

div.condition-box {
  display: inline-block;
  text-align: center;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  width: 1.3em;
  background-image: -webkit-linear-gradient(bottom, #2f2f2f, #5d5d5d);
  background-image: linear-gradient(to top, #2f2f2f, #5d5d5d);
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 3px; }
  div.condition-box:hover {
    background-color: #464646;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #464646), color-stop(50%, #2f2f2f), color-stop(100%, #5d5d5d));
    background-image: -webkit-radial-gradient(#464646, #2f2f2f, #5d5d5d);
    background-image: radial-gradient(  #464646, #2f2f2f, #5d5d5d); }
