/* app css stylesheet */
@import 'bourbon/bourbon';
@import 'mixins.scss';

// -------------- Colors
$HP: #bd362f;
$MISC: rgb(56,56,56);
$AP: rgb(56,56,56);
$HS: rgb(0,158,197);
$XP: rgb(89,150,83);
$GOLD: rgb(255,198,19);
$ENCOUNTER: #961334;
$ATWILL: darken(#619869,15%);
$DAILY: #4d4d4f;
$BGRAY: #ddd;
$GBORDER: rgb(213,213,213);



// ----------- Docked Menu Config
div.docked-menu {
  position: fixed;
  right: 0%;
  top: 41px;
  width: 400px;
  height:80%;
  
  .menu-group {
    @include background-image(radial-gradient(rgb(220,220,220),rgb(200,200,200)));
    color: $FRONT;
    @include borderfy();
    padding: 1em;
    label {
      font-weight: bold;
    }
  }
  
  .borderdices {
    @include borderfy();
  }

  .controlsmargin {
    margin-top: 10px;
    vertical-align: middle;
  }

  .totalcenteralign {
    vertical-align: middle;
  }
}

div.btn-inverse {
    font-weight: bold;
}

span.uneditable-input {
    &.turn {
        color: $FRONT;
        background-color: $IFRONT;
        font-weight: bold;
        text-align: center;
    }
}
// ----------- Docked Menu Config
#console {
  @include borderfy();
  @include background-image(radial-gradient(rgb(248,236,194),darken(rgb(248,236,194),10%)));
  overflow: auto;
  overflow-x: hidden;
  height: 20%;
}
div.condition-box {
  display: inline-block;
  text-align: center;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  border-radius: 3px;
  color: $IFRONT;
  font-weight: bold;
  width: 1.3em;
  @include buttonify($MISC);
}
// ------------- Combat List Config
div.character-block {
  border: 1px solid lightgray;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 0px;
  padding: 2px;
  padding-right: 4px;
  margin-bottom: 5px;
  &.Player {
    @include background-image(
      radial-gradient(rgb(215,226,234),
        rgb(200,200,234)));
    color: $FRONT;
    border-color: $BLOCKBORDER;
    &.turn {
      box-shadow: 0px 0px 20px rgb(0,0,255);
    }
  }
  &.Enemy {
    @include background-image(
      radial-gradient(rgb(245,226,215),
        rgb(245,200,200)));
    color: $FRONT;
    border-color: rgb(213, 213, 213);
    &.turn {
      box-shadow: 0px 0px 20px rgb(255,0,0);
    }
  }
  &.Neutral {
    @include background-image(
      radial-gradient($BLOCK,
        rgb(200,200,200)));
    color: $FRONT;
    border-color: rgb(213, 213, 213);
    &.turn {
      box-shadow: 0px 0px 20px rgb(0,255,0);
    }
  }
}
  
div.name-container {
  padding-top: 0.2em;
  padding-left: 0.1em;
  font-size: 1.4em;
  font-weight: bold;
  white-space: nowrap;
  i {
    vertical-align: middle;
  }
  p {
    display: inline-block;
    font-family: Verdana;
  }
  color: $FRONT;
  cursor: pointer;
}
span.dropdown-container {
  position: relative;
  right: 0%;
  top: 0%;
  li{
    line-height: 0;
    cursor: pointer;
  }
}
div.inline {
  display: inline-block;
}

.dropdown-menu {
  li {
    cursor:pointer;
  }
}
.stat-number {
  font-size: 1.3em;
  font-weight: bold;
  min-width: 3em;
  display: inline-block;
  color: $IFRONT;
  white-space: nowrap;
    text-align: center;
  p {
    display: inline-block;
    margin-top: 0.2em;
    margin-bottom: 0;
    text-align: center;
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  i {
    height: 1em;
    vertical-align: middle;
    display: inline-block;
  }
  &.init {
    @include buttonify($BLOCK);
    color: $FRONT;
    min-width: 2.2em;
  }
  &.sub-init {
    @include buttonify($AP);
    min-width: 2.2em;
  }
  &.hp {
    &.Player,&.Neutral { 
      @include buttonify($HP);
    }
    &.Enemy { 
      @include buttonify(rgb(103,32,78));
    }
  }
  &.ap {
    @include buttonify($AP);
  }
  &.hs {
    @include buttonify($HS);
  }
  &.gold {
    @include buttonify($GOLD);
    font-size: 1.2em;
  }
  &.xp {
    @include buttonify($XP);
    font-size: 1.2em;
  }
  &.dice {
    @include buttonify($AP);
    min-width: 3em;
    min-height: 1.7em;
  }
}
div.has-conditions-box {
  @include background-image(radial-gradient($BLOCKBORDER,$BLOCK));
  border: 1px solid lightgray;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 0px;
  min-height: 1.6em;
}

.power-span {
  padding-top: 3px;
  @include background-image(radial-gradient($BLOCKBORDER,$BLOCK));
  @include borderfy();
}

div.dialog-content {
  margin: 1em;
}
div.button-cell{
  display: inline-block;
  color: $FRONT;
  font-weight: bold;
  min-width: 2.5em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
  @include buttonify($BGRAY);
}

.stat-edit {
  width: 3em;
  height: 2em;
  font-size: 2em;
}
div.power-container {
  padding-top: 0px;
  padding-bottom: 2px;
  div.power-use-button {
    display: inline-block;
    text-align: center;
    border-color: rgb(213,213,213);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: $IFRONT;
    font-weight: bold;
    width: 1.3em;
    &.at-will {
      display: none;
    }
    &.encounter {
      @include buttonify($ENCOUNTER);
      
      &.used {
        @include mutify($ENCOUNTER);
      }
    }
    &.daily {
      @include buttonify($DAILY);
      &.used {
        @include mutify($DAILY);
      }
    }
  }
}

