/* app css stylesheet */
div.docked-menu {
  position: fixed;
  right: 0%;
  top: 41px;
  width: 400px;
  height: 80%; }
  div.docked-menu .menu-group {
    background-image: -webkit-radial-gradient( gainsboro, #c8c8c8);
    background-image: radial-gradient(   gainsboro, #c8c8c8);
    color: #333333;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 1em; }
    div.docked-menu .menu-group label {
      font-weight: bold; }
  div.docked-menu .borderdices {
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px; }
  div.docked-menu .controlsmargin {
    margin-top: 10px;
    vertical-align: middle; }
  div.docked-menu .totalcenteralign {
    vertical-align: middle; }

div.btn-inverse {
  font-weight: bold; }

span.uneditable-input.turn {
  color: #333333;
  background-color: white;
  font-weight: bold;
  text-align: center; }

#console {
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  background-image: -webkit-radial-gradient( #f8ecc2, #f3de94);
  background-image: radial-gradient(   #f8ecc2, #f3de94);
  overflow: auto;
  overflow-x: hidden;
  height: 30%; }

div.condition-box {
  display: inline-block;
  text-align: center;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  width: 1.3em;
  background-image: -webkit-linear-gradient(bottom, #212121, #4f4f4f);
  background-image: linear-gradient(to top, #212121, #4f4f4f);
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 3px; }
  div.condition-box:hover {
    background-color: #383838;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #383838), color-stop(50%, #212121), color-stop(100%, #4f4f4f));
    background-image: -webkit-radial-gradient(#383838, #212121, #4f4f4f);
    background-image: radial-gradient(  #383838, #212121, #4f4f4f); }

div.character-block {
  border: 1px solid lightgray;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 0px;
  padding: 2px;
  padding-right: 4px;
  margin-bottom: 5px; }
  div.character-block.Player {
    background-image: -webkit-radial-gradient( #d7e2ea, #c8c8ea);
    background-image: radial-gradient(   #d7e2ea, #c8c8ea);
    color: #333333;
    border-color: #dddddd; }
    div.character-block.Player.turn {
      box-shadow: 0px 0px 20px blue; }
  div.character-block.Enemy {
    background-image: -webkit-radial-gradient( #f5e2d7, #f5c8c8);
    background-image: radial-gradient(   #f5e2d7, #f5c8c8);
    color: #333333;
    border-color: #d5d5d5; }
    div.character-block.Enemy.turn {
      box-shadow: 0px 0px 20px red; }
  div.character-block.Neutral {
    background-image: -webkit-radial-gradient( #f8f8f8, #c8c8c8);
    background-image: radial-gradient(   #f8f8f8, #c8c8c8);
    color: #333333;
    border-color: #d5d5d5; }
    div.character-block.Neutral.turn {
      box-shadow: 0px 0px 20px lime; }

div.name-container {
  padding-top: 0.2em;
  padding-left: 0.1em;
  font-size: 1.4em;
  font-weight: bold;
  white-space: nowrap;
  color: #333333;
  cursor: pointer; }
  div.name-container i {
    vertical-align: middle; }
  div.name-container p {
    display: inline-block;
    font-family: Verdana; }

span.dropdown-container {
  position: relative;
  right: 0%;
  top: 0%; }
  span.dropdown-container li {
    line-height: 0;
    cursor: pointer; }

div.inline {
  display: inline-block; }

.dropdown-menu li {
  cursor: pointer; }

.stat-number {
  font-size: 1.3em;
  font-weight: bold;
  min-width: 3em;
  display: inline-block;
  color: white;
  white-space: nowrap;
  text-align: center; }
  .stat-number p {
    display: inline-block;
    margin-top: 0.2em;
    margin-bottom: 0;
    text-align: center;
    padding-left: 0.1em;
    padding-right: 0.1em; }
  .stat-number i {
    height: 1em;
    vertical-align: middle;
    display: inline-block; }
  .stat-number.init {
    background-image: -webkit-linear-gradient(bottom, #e1e1e1, white);
    background-image: linear-gradient(to top, #e1e1e1, white);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-radius: 3px;
    color: #333333;
    min-width: 2.2em; }
    .stat-number.init:hover {
      background-color: #f8f8f8;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #f8f8f8), color-stop(50%, #e1e1e1), color-stop(100%, white));
      background-image: -webkit-radial-gradient(#f8f8f8, #e1e1e1, white);
      background-image: radial-gradient(  #f8f8f8, #e1e1e1, white); }
  .stat-number.sub-init {
    background-image: -webkit-linear-gradient(bottom, #212121, #4f4f4f);
    background-image: linear-gradient(to top, #212121, #4f4f4f);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-radius: 3px;
    min-width: 2.2em; }
    .stat-number.sub-init:hover {
      background-color: #383838;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #383838), color-stop(50%, #212121), color-stop(100%, #4f4f4f));
      background-image: -webkit-radial-gradient(#383838, #212121, #4f4f4f);
      background-image: radial-gradient(  #383838, #212121, #4f4f4f); }
  .stat-number.hp.Player, .stat-number.hp.Neutral {
    background-image: -webkit-linear-gradient(bottom, #982b26, #d24f48);
    background-image: linear-gradient(to top, #982b26, #d24f48);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-radius: 3px; }
    .stat-number.hp.Player:hover, .stat-number.hp.Neutral:hover {
      background-color: #bd362f;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #bd362f), color-stop(50%, #982b26), color-stop(100%, #d24f48));
      background-image: -webkit-radial-gradient(#bd362f, #982b26, #d24f48);
      background-image: radial-gradient(  #bd362f, #982b26, #d24f48); }
  .stat-number.hp.Enemy {
    background-image: -webkit-linear-gradient(bottom, #441533, #8a2b69);
    background-image: linear-gradient(to top, #441533, #8a2b69);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-radius: 3px; }
    .stat-number.hp.Enemy:hover {
      background-color: #67204e;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #67204e), color-stop(50%, #441533), color-stop(100%, #8a2b69));
      background-image: -webkit-radial-gradient(#67204e, #441533, #8a2b69);
      background-image: radial-gradient(  #67204e, #441533, #8a2b69); }
  .stat-number.ap {
    background-image: -webkit-linear-gradient(bottom, #212121, #4f4f4f);
    background-image: linear-gradient(to top, #212121, #4f4f4f);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-radius: 3px; }
    .stat-number.ap:hover {
      background-color: #383838;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #383838), color-stop(50%, #212121), color-stop(100%, #4f4f4f));
      background-image: -webkit-radial-gradient(#383838, #212121, #4f4f4f);
      background-image: radial-gradient(  #383838, #212121, #4f4f4f); }
  .stat-number.hs {
    background-image: -webkit-linear-gradient(bottom, #007997, #00c3f3);
    background-image: linear-gradient(to top, #007997, #00c3f3);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-radius: 3px; }
    .stat-number.hs:hover {
      background-color: #009ec5;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #009ec5), color-stop(50%, #007997), color-stop(100%, #00c3f3));
      background-image: -webkit-radial-gradient(#009ec5, #007997, #00c3f3);
      background-image: radial-gradient(  #009ec5, #007997, #00c3f3); }
  .stat-number.gold {
    background-image: -webkit-linear-gradient(bottom, #e4ad00, #ffd141);
    background-image: linear-gradient(to top, #e4ad00, #ffd141);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-radius: 3px;
    font-size: 1.2em; }
    .stat-number.gold:hover {
      background-color: #ffc613;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #ffc613), color-stop(50%, #e4ad00), color-stop(100%, #ffd141));
      background-image: -webkit-radial-gradient(#ffc613, #e4ad00, #ffd141);
      background-image: radial-gradient(  #ffc613, #e4ad00, #ffd141); }
  .stat-number.xp {
    background-image: -webkit-linear-gradient(bottom, #477843, #70ad6a);
    background-image: linear-gradient(to top, #477843, #70ad6a);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-radius: 3px;
    font-size: 1.2em; }
    .stat-number.xp:hover {
      background-color: #599653;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #599653), color-stop(50%, #477843), color-stop(100%, #70ad6a));
      background-image: -webkit-radial-gradient(#599653, #477843, #70ad6a);
      background-image: radial-gradient(  #599653, #477843, #70ad6a); }
  .stat-number.dice {
    background-image: -webkit-linear-gradient(bottom, #212121, #4f4f4f);
    background-image: linear-gradient(to top, #212121, #4f4f4f);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    border-radius: 3px;
    min-width: 3em;
    min-height: 1.7em; }
    .stat-number.dice:hover {
      background-color: #383838;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #383838), color-stop(50%, #212121), color-stop(100%, #4f4f4f));
      background-image: -webkit-radial-gradient(#383838, #212121, #4f4f4f);
      background-image: radial-gradient(  #383838, #212121, #4f4f4f); }

div.has-conditions-box {
  background-image: -webkit-radial-gradient( #dddddd, #f8f8f8);
  background-image: radial-gradient(   #dddddd, #f8f8f8);
  border: 1px solid lightgray;
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 0px;
  min-height: 1.6em; }

.power-span {
  padding-top: 3px;
  background-image: -webkit-radial-gradient( #dddddd, #f8f8f8);
  background-image: radial-gradient(   #dddddd, #f8f8f8);
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px; }

div.dialog-content {
  margin: 1em; }

div.button-cell {
  display: inline-block;
  color: #333333;
  font-weight: bold;
  min-width: 2.5em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
  background-image: -webkit-linear-gradient(bottom, #c6c6c6, #f4f4f4);
  background-image: linear-gradient(to top, #c6c6c6, #f4f4f4);
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 3px; }
  div.button-cell:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #dddddd), color-stop(50%, #c6c6c6), color-stop(100%, #f4f4f4));
    background-image: -webkit-radial-gradient(#dddddd, #c6c6c6, #f4f4f4);
    background-image: radial-gradient(  #dddddd, #c6c6c6, #f4f4f4); }

.stat-edit {
  width: 3em;
  height: 2em;
  font-size: 2em; }

div.power-container {
  padding-top: 0px;
  padding-bottom: 2px; }
  div.power-container div.power-use-button {
    display: inline-block;
    text-align: center;
    border-color: #d5d5d5;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    width: 1.3em; }
    div.power-container div.power-use-button.at-will {
      display: none; }
    div.power-container div.power-use-button.encounter {
      background-image: -webkit-linear-gradient(bottom, #6d0e26, #bf1842);
      background-image: linear-gradient(to top, #6d0e26, #bf1842);
      cursor: pointer;
      border-width: 1px;
      border-style: solid;
      border-color: #dddddd;
      border-radius: 3px; }
      div.power-container div.power-use-button.encounter:hover {
        background-color: #961334;
        background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #961334), color-stop(50%, #6d0e26), color-stop(100%, #bf1842));
        background-image: -webkit-radial-gradient(#961334, #6d0e26, #bf1842);
        background-image: radial-gradient(  #961334, #6d0e26, #bf1842); }
      div.power-container div.power-use-button.encounter.used {
        background-image: none;
        background-color: #3b0815;
        color: #520a1c; }
    div.power-container div.power-use-button.daily {
      background-image: -webkit-linear-gradient(bottom, #363638, #646466);
      background-image: linear-gradient(to top, #363638, #646466);
      cursor: pointer;
      border-width: 1px;
      border-style: solid;
      border-color: #dddddd;
      border-radius: 3px; }
      div.power-container div.power-use-button.daily:hover {
        background-color: #4d4d4f;
        background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #4d4d4f), color-stop(50%, #363638), color-stop(100%, #646466));
        background-image: -webkit-radial-gradient(#4d4d4f, #363638, #646466);
        background-image: radial-gradient(  #4d4d4f, #363638, #646466); }
      div.power-container div.power-use-button.daily.used {
        background-image: none;
        background-color: #1b1b1b;
        color: #272728; }
