/* app css stylesheet */
@import 'bourbon/bourbon';
@import 'mixins.scss';

$DARKFONT: rgb(70,70,70);
$ENCOUNTER: #961334;
$ATWILL: darken(#619869,15%);
$DAILY: #4d4d4f;

.power-container {
  background-color: rgb(245,245,245);
  padding-left: 5px;
  padding-right: 3px;
}
.power-widget {
  display: inline-block;
  border: {
    width: 1px;
    style: solid;
    color: white;
  }
  .power-button {
    display: inline-block;
    margin: 0;
    color: white;
    width: 138px;
    white-space: nowrap;
    padding: {
      left: 5px;
      right: 5px;
      top: 3px;
      bottom: 3px;
    }
    border: 0px;
    &.power-info {
      width: auto;
      border-right: {
        style: solid;
        width: 1px;
      }
    }
    &.power-name {
      font-weight: bold;
      &.at-will.used {
        @include buttonify(darken($ATWILL, 10%));
        color: lighten($ATWILL, 10%);
      }
      &.daily.used {
        @include buttonify(darken($DAILY, 10%));
        color: lighten($DAILY, 10%);
      }
      &.encounter.used {
        @include buttonify(darken($ENCOUNTER, 10%));
        color: lighten($ENCOUNTER, 10%);
      }
    }  
  }
}

.characters-container {
  margin-top: 10px;
}

table.character-list {
  tr {
    &.turn {
      border: 3px solid rgb(100,100,100);
    }
    
    $ENEMY: rgb(255,230,230);
    $PLAYER: rgb(225,240,255);
    &.Enemy {
      td {
        @include color-cell($ENEMY);
      }
    }
    &.Player {
      td {
        @include color-cell($PLAYER);
      }
    }
  }
}

div.condition-box {
  display: inline-block;
  text-align: center;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  width: 1.3em;
  @include buttonify($DARKFONT);
  @include borderfy(rgb(221,221,221));
}

#console {
  @include borderfy(rgb(221,221,221));
  @include background-image(radial-gradient(rgb(248,236,194),darken(rgb(248,236,194),10%)));
  overflow: auto;
  overflow-x: hidden;
  height: 100px;
}