/* app css stylesheet */
@import 'bourbon/bourbon';
@import 'mixins.scss';

@mixin button-cell($color) {
  @include background-image(linear-gradient(to top, darken($color,3%),lighten($color,6%)));
  cursor: pointer;
  &:hover {
      @include radial-gradient($color, darken($color,9%),lighten($color,9%));
  }
}

$DARKFONT: rgb(70,70,70);
$ENCOUNTER: #961334;
$ATWILL: darken(#619869,15%);
$DAILY: #4d4d4f;

.gui-row {
  text-align: left;
  vertical-align: middle;
  background-color: rgb(245,245,245);
  padding: {
    left: 5px;
    top: 1px;
    bottom: 1px;
  }

  span {
    width: 5em;
  }

  div {
    display: inline-block;
    color: white;
    &.gui-label {
      white-space: nowrap;
      color: $DARKFONT;
      min-width: 4.5em;
    }
    &.gui-group {
      padding: {
        left: 5px;
        right: 5px;
        top: 2px;
        bottom: 2px;
      }
      border: {
        width: 1px;
        color: lighten(rgb(225,225,225), 15%);
        style: solid;
        radius: 3px;
      }
      margin-right: 2px;
      background-color: rgb(225,225,225);
    }
    &.gui-row-title {
      padding-left: 5px;
      font-weight: bold;
      color: $DARKFONT;
    }
    &.gui-value {
      padding-left: 5px;
      padding-right: 5px;
      background-color: $DARKFONT;
      text-align: center;
      vertical-align: middle;
      color: white;
      font-weight: bold;
    }
  }

  p {
    display: inline-block;
  }
  select {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

.button {
  text-align: center;
  vertical-align: middle;
  @include buttonify($DARKFONT);
  color: white;
  font-weight: bold;

  padding: {
    right: 5px;
    left: 5px;
    top: 1px;
    bottom: 2px;
  }
  &.button-cancel {
    @include buttonify(rgb(230,230,230));
    color: $DARKFONT;
  }
  &.dice {
    min-width: 2em;
  }
  &.icon {
    width: 1.8em;
  }
}

.power-container {
  background-color: rgb(245,245,245);
  padding-left: 5px;
  padding-right: 3px;
}
.power-widget {
  display: inline-block;
  border: {
    width: 1px;
    style: solid;
    color: white;
  }
  .power-button {
    display: inline-block;
    margin: 0;
    color: white;
    padding: {
      left: 0.7em;
      right: 0.7em;
      top: 0.5em;
      bottom: 0.5em;
    }
    border: 0px;
    &.at-will {
      @include button-cell($ATWILL);
      border-color: darken($ATWILL, 5%);
    }
    &.daily {
      @include button-cell($DAILY);
      border-color: darken($DAILY, 5%);
    }
    &.encounter {
      @include button-cell($ENCOUNTER);
      border-color: darken($ENCOUNTER, 5%);
    }
    &.power-info {
      border-right: {
        style: solid;
        width: 1px;
      }
    }
    &.power-name {
      font-weight: bold;
      &.at-will.used {
        @include button-cell(darken($ATWILL, 10%));
        color: lighten($ATWILL, 10%);
      }
      &.daily.used {
        @include button-cell(darken($DAILY, 10%));
        color: lighten($DAILY, 10%);
      }
      &.encounter.used {
        @include button-cell(darken($ENCOUNTER, 10%));
        color: lighten($ENCOUNTER, 10%);
      }
    }  
  }
}

.characters-container {
  margin-top: 10px;
}

table.character-list {
  border: {
    color: rgb(225,225,225);
    style: solid;
    width: 1px;
    bottom: 0px;
    right: 0px;
    radius: 3px;
  }
  tr {
    padding: {
      top: 2px;
      bottom: 2px;
    }
    border-bottom: {
      color: rgb(225,225,225);
      style: solid;
      width: 1px;
    }
  }
  td,th {
    padding: {
      left: 4px;
      right: 4px;
    }
    border-right: {
      color: rgb(225,225,225);
      style: solid;
      width: 1px;
    }
  }
  th{
    background-color: $DARKFONT;
    color: white;
  }
}
.button-cell {
  font-weight: bold;
  color: $DARKFONT;
  @include button-cell(rgb(245,245,245));
  &.hp {
    @include button-cell(rgb(245,205,205));
    color: rgb(94,20,20);
  }
  &.hs {
    @include button-cell(rgb(205,205,245));
    color: rgb(20,20,94);
  }
  &.ap {
    @include button-cell(rgb(245,245,205));
    color: rgb(94,94,20);
  }
  &.xp {
    @include button-cell(rgb(205,245,205));
    color: rgb(20,94,20);
  }
}

.board-cell {
  div {
    display: inline-block;
  }
  &.init {
    white-space: nowrap;
    font-weight: bold;
    .incell {
      color: $DARKFONT;
      @include button-cell(rgb(245,245,245));
      min-width: 1em;
      text-align: center;
    }
  }
  &.name {
    font-weight: bold;
    i,div {
      display: inline-block;
    }
    i {
      cursor: pointer;
    }
  }
}
div.condition-box {
  display: inline-block;
  text-align: center;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  border-top: 0px;
  border-left: 0px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  width: 1.3em;
  @include buttonify($DARKFONT);
}

#console {
  @include borderfy();
  @include background-image(radial-gradient(rgb(248,236,194),darken(rgb(248,236,194),10%)));
  overflow: auto;
  overflow-x: hidden;
  height: 100px;
}