@import 'bourbon/bourbon';
@import 'mixins.scss';

$INVCONFIG: 142px;
$TOPPREAMBLE: 62px;
@media (max-height: 500px) {
  .inventory-list {
    height: 400px - $INVCONFIG - $TOPPREAMBLE;
  }
}
@media (min-height: 500px) {
  .inventory-list {
    height: 500px - $INVCONFIG - $TOPPREAMBLE;
  }
}
@media (min-height: 650px) {
  .inventory-list {
    height: 650px - $INVCONFIG - $TOPPREAMBLE;
  }
}
@media (min-height: 800px) {
  .inventory-list {
    height: 800px - $INVCONFIG - $TOPPREAMBLE;
  }
}
@media (min-height: 950px) {
  .inventory-list {
    height: 950px - $INVCONFIG - $TOPPREAMBLE;
  }
}

.pointer {
    cursor: pointer;
}

.equip-all {
    text-align: center;
}

.equip {
  background-color: $BLOCK;
  border: 1px solid lightgray;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 0px;
  min-height: 1.6em;
}

.inventory-section {
  @include borderfy();
  box-shadow: 0px 0px 7px rgb(0,0,0);
}

.inventory-config {
  height: $INVCONFIG;
  &.character {
    height: $INVCONFIG - 37px;
  }
}

.inventory-list {
  td.td-name {
      cursor: pointer;
  }
  overflow: auto;
  overflow-x: hidden;
}

