@import 'mixins.scss';

.pointer {
    cursor: pointer;
}

.inventory {
    @include borderfy();
    border-top: 0;
    td.td-name {
        cursor: pointer;
    }
}

.equip-all {
    text-align: center;
}

.equip {
  background-color: $BLOCK;
  border: 1px solid lightgray;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 0px;
  min-height: 1.6em;
}
