$BLOCK: rgb(248,248,248);
$BLOCKBORDER: rgb(221,221,221);
$FRONT: rgb(51,51,51);
$IFRONT: white;

@mixin buttonify($color) {
  @include background-image(linear-gradient(to top, darken($color,9%),lighten($color,9%)));
  cursor: pointer;
  &:hover{
      @include radial-gradient($color, darken($color,9%),lighten($color,9%));
  }
  border-width: 1px;
  border-style: solid;
  border-color: $BLOCKBORDER;
  border-radius: 3px;
}

@mixin borderfy($color) {
  border-width: 1px;
  border-style: solid;
  border-color: $color;
  border-radius: 3px;
}

@mixin color-cell($color) {
  color: darken($color, 70%);
  background-color: $color;
  &.button-cell {
    @include background-image(linear-gradient(to top, darken($color,5%),lighten($color,3%)));
    cursor: pointer;
    &:hover {
        @include radial-gradient($color, darken($color,5%),lighten($color,5%));
    }
  }
  .incell-button {
    display: inline-block;
    background-color: $color;
    cursor: pointer;
    border: {
      radius: 3px;
      color: lighten($color,3%);
      style: solid;
      width: 1px;
    }
    min-width: 1em;
    text-align: center;
  }
}