$BLOCK: rgb(248,248,248);
$BLOCKBORDER: rgb(221,221,221);
$FRONT: rgb(51,51,51);
$IFRONT: white;

@mixin borderfy () {
  border-color: $BLOCKBORDER;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
@mixin buttonify($color) {
  @include background-image(linear-gradient(to top, darken($color,9%),lighten($color,9%)));
  cursor: pointer;
  &:hover{
      @include radial-gradient($color, darken($color,9%),lighten($color,9%));
  }
  border-width: 1px;
  border-style: solid;
  border-color: $BLOCKBORDER;
  border-radius: 3px;
}
@mixin flatify($color) {
  background-image: none;
  background-color: $color;
}
@mixin mutify($color) {
  background-image: none;
  background-color: darken($color, 20%);
  color: darken($color, 15%);
}
