@import 'bourbon/bourbon';
@import 'mixins.scss';

$INVCONFIG: 142px;
$TOPPREAMBLE: 62px;
@media (max-height: 500px) {
  .inventory-table-body {
    height: 400px - $INVCONFIG - $TOPPREAMBLE;
  }
}
@media (min-height: 500px) {
  .inventory-table-body {
    height: 500px - $INVCONFIG - $TOPPREAMBLE;
  }
}
@media (min-height: 650px) {
  .inventory-table-body {
    height: 650px - $INVCONFIG - $TOPPREAMBLE;
  }
}
@media (min-height: 800px) {
  .inventory-table-body {
    height: 800px - $INVCONFIG - $TOPPREAMBLE;
  }
}
@media (min-height: 950px) {
  .inventory-table-body {
    height: 950px - $INVCONFIG - $TOPPREAMBLE;
  }
}

.pointer {
    cursor: pointer;
}

.equip-all {
    text-align: center;
}

.equip {
  background-color: $BLOCK;
  border: 1px solid lightgray;
  border-color: rgb(213, 213, 213);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-top: 0px;
  min-height: 1.6em;
}

.trade-section {
  @include borderfy();
  box-shadow: 0px 0px 7px rgb(0,0,0);
}

.inventory-config {
  height: $INVCONFIG;
  &.character {
    height: $INVCONFIG - 58px;
  }
}

.inventory-table-header {
  background-color: black;
  color: white;
  font-weight: bold;
  .inventory-cell {
    cursor: pointer;
  }
}
.inventory-table-body {
  overflow: auto;
  overflow-x: hidden;
    border: {
      color: black;
      style: solid;
      width: 1px;
    }
  .inventory-row {
    cursor: pointer;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  .inventory-cell {
    cursor: pointer;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    &.last-cell {
      border-right: 0;
    }
  }
  .header {

  }
}

