.item-name-cell {
  white-space: normal; }

.item-table {
  font-size: 0.8em; }
  .item-table td {
    font-weight: normal; }

.container-section {
  border-width: 1px;
  border-style: solid;
  border-color: #464646;
  border-radius: 3px; }

.container-section-header {
  padding-left: 5px;
  padding-right: 5px;
  background-color: #464646;
  text-align: center;
  vertical-align: middle;
  color: white; }
